[2014-01-08 19:21] JMurk opened #1 "Test Issue for Lu"
verify receipt

[2014-01-08 19:26] JMurk opened #2 "Utility Viewer - Valve Status Window - Valve Id Name Change"
Issue:  The "Valve Id" section should be changed to "Selected Valves"

![image](https://f.cloud.github.com/assets/5805454/1871703/a8e6ab2c-789a-11e3-908a-e86e6838f20c.png)

Resolution:  Please changed the heading name to "Selected Valves"

[2014-01-08 19:32] JMurk opened #3 "Utility Viewer - Valve Status Window - Remove Button Cut-off"
Issue: On the Valve Status Window, within the Valve Id section, the remove button is cut-off.  Other buttons also disappear upon resizing of the window.

![image](https://f.cloud.github.com/assets/5805454/1871765/6bb98cfa-789b-11e3-88ef-61173b7e3263.png)

![image](https://f.cloud.github.com/assets/5805454/1871770/84332a98-789b-11e3-8e5f-6192868c428d.png)

Steps to recreate:
1. Click the Update Val

[2014-01-08 19:34] JMurk opened #4 "Utility Viewer - valve Status Window - Valve Information"
Issue:  Is there any way to differentiate between the labels and the values?

![image](https://f.cloud.github.com/assets/5805454/1871801/e6a2a55a-789b-11e3-8c13-5f10833a6952.png)

Resolution:  Would it be possible to make the labels bold?

[2014-01-08 19:36] #1 closed, assigned to kanglu666

[2014-01-08 19:36] BC89 commented on #1
yup

[cid:image001.jpg@01CF0C7E.FEAAE920]

From: JMurk [mailto:notifications@github.com]
Sent: Wednesday, January 08, 2014 2:22 PM
To: JMurk/Utility_Viewer_Issues
Subject: [Utility_Viewer_Issues] Test Issue for Lu (#1)

verify receipt

—
Reply to this email directly or view it on GitHubhttps://github.com/JMurk/Utility_Viewer_Issues/issues/1.

[2014-01-08 19:48] JMurk opened #5 "Utility Viewer - Valve Status Window - No Horizontal Scroll Bar"
Issue:  When shrinking the width of the Valve Status window, there is no horizontal scroll bar.

![image](https://f.cloud.github.com/assets/5805454/1871926/d9b529c4-789d-11e3-898a-6dc9806a2de7.png)

Steps to recreate:
1. Click the Update Valve Status button
2. Adjust the width of the window by clicking the right side and dragging the edge to the left.

Resolution:  Add a horizontal scroll bar OR d

[2014-01-08 19:55] JMurk opened #6 "Utility Viewer - Valve Status Window - Current Plan Information"
Issue:  A few items should be changed with the Current Plan Information data grid.
1. Remove Plan Id - This is of no user to the user
2. Capitalize "map"
3. Capitalize "details"

![image](https://f.cloud.github.com/assets/5805454/1871968/b8befb18-789e-11e3-8e28-f29015ea984e.png)

Resolution:  Please make noted design changes.

[2014-01-08 20:33] JMurk opened #7 "Utility Viewer - Remove Temp Plans from Search Results"
Issue:  The system displays temp plans created by the system to the user.  The user should never see the temp plans that are create.

![image](https://f.cloud.github.com/assets/5805454/1872306/ef61274a-78a3-11e3-8140-bce61621025a.png)

Resolution: This will require a few things to be done
1. When the user creates a new plan, enforce the input of Plan name
2. Filter results to should only records w

[2014-01-08 20:39] JMurk opened #8 "Utility Viewer - Valve Open/Close Plan Evaluation - Assigned Misspelled"
Issue:  On the Valve Open/Close Plan Evaluation, Assigned is misspelled.

![image](https://f.cloud.github.com/assets/5805454/1872344/8fac5c74-78a4-11e3-93da-675082d39f9b.png)

Steps to Recreate:
1. Click the Update Valve Status Tool.
2. Select a valve with a plan associated to it.
3. Click the valve ID from the selected list within the Valve Status window
4. Click the Details button from the data

[2014-01-08 20:44] JMurk opened #9 "Utility Viewer - New Plan and Data Grid - Fields Do Not Match"
Issue:  The information stored for a plan does not match the information displayed for a plan in search results/data grid:

![image](https://f.cloud.github.com/assets/5805454/1872374/4d20e22a-78a5-11e3-8152-6e366591a92f.png)

vs

![image](https://f.cloud.github.com/assets/5805454/1872377/5df189d8-78a5-11e3-92a3-5ca82661a8a5.png)

Where does End Date and Description Come from?

Resolution:  Please

[2014-01-09 13:50] JMurk commented on #2
Confirmed resolved.

[2014-01-09 13:50] #2 closed, assigned to JMurk

[2014-01-09 13:52] JMurk commented on #6
Lu-  Please update so that it is "Map" and "Details"  instead of "MAP" and "DETAILS".  Sorry for the confusion!

[2014-01-09 13:52] JMurk commented on #5
Confirmed that the screen is no longer manually adjustable.

[2014-01-09 13:52] #5 closed, assigned to JMurk

[2014-01-09 13:53] JMurk commented on #4
Lu, was there any change made to this?

[2014-01-09 13:54] JMurk commented on #3
Confirmed resolution.

[2014-01-09 13:54] #3 closed, assigned to JMurk

[2014-01-09 16:18] kanglu666 commented on #4
i cant change the style separately, because this part is generated by a HTML template which is consider as a whole part. So just keep it as is,

[2014-01-09 17:55] JMurk opened #10 "Utility Viewer - Find Existing Plans - Design Clean Up"
Issue:  There are a number of things to change on the Find Existing Plans window:
1. Change the date ranges from datetime to date only.
   ![image](https://f.cloud.github.com/assets/5805454/1880273/05f6c174-7956-11e3-8c07-eaf7af483d08.png)
2. Change the "Created date range" label to "Created Date"
3. Change the "To be implemented" label to "To Be Implemented"
4. Remove Plan ID from the results dat

[2014-01-09 19:17] JMurk opened #11 "Utility Viewer - Main Shutdown Plan Evaluation - Add Report Button"
As per Amy's request:  "Can the Plan Report button be added to the bottom of the plan info tab in the dialog that is there when the plan is first created?  I know I asked before – sorry if I forgot the answer."

Resolution:  Please add the Report button to this window, if possible.

[2014-01-09 19:23] JMurk opened #12 "Utility Viewer - Main Trace - Hydrant Valves"
Issue:  _As Per Amy's Comment_: "The hydrant valves should be removed from the trace and from the results, they are showing up in the valves that do not need to be operated, but are not needed."

Resolution:  Lu- Please investigate and resolve accordingly.  This may be an issue for Gerry.  If so, please let me know.

[2014-01-09 19:34] JMurk commented on #4
Ok, it will stay as is.

[2014-01-09 19:34] #4 closed, assigned to JMurk

[2014-01-09 19:34] JMurk commented on #10
Confirmed Completed

[2014-01-09 19:34] #10 closed, assigned to JMurk

[2014-01-09 19:40] JMurk commented on #9
It looks like Current Plan Information still has End Date rather than Reverse date.  Please update.

![image](https://f.cloud.github.com/assets/5805454/1881412/d4229410-7965-11e3-91f9-8ad64808283a.png)

[2014-01-09 19:40] JMurk commented on #8
Confirmed Fixed.

[2014-01-09 19:40] #8 closed, assigned to JMurk

[2014-01-09 19:43] JMurk opened #13 "Utility Viewer - Valve Open/Close Plan Evaluation - Related Plan ID"
Issue:  The Related Plan ID field is not really useful.

![image](https://f.cloud.github.com/assets/5805454/1881450/66f446da-7966-11e3-8e5c-e7b1f7114300.png)

Steps to Recreate:
1. Click the Update Valve Status Tool.
2. Select a valve with a plan associated to it.
3. Click the valve ID from the selected list within the Valve Status window
4. Click the Details button from the data grid from an exis

[2014-01-09 19:49] JMurk opened #14 "Utility Viewer - Main Trace - Select Additional Mains"
Issue:  When performing a main trace and selecting the "Select Additional Mains" option, the system will not allow the user to select anything.  Clicking and dragging just pans the view instead of drawing a selection box.

Steps to recreate:
1. Click the Main Trace tool
2. Select a Main
3. Click "Select Additional Mains"
4. Attempt to select additional mains.

Resolution:  Please investigate and r

[2014-01-09 19:50] JMurk commented on #6
Confirmed Fixed.

[2014-01-09 19:50] #6 closed, assigned to JMurk

[2014-01-09 19:55] JMurk commented on #7
Confirmed Fixed.

[2014-01-09 19:55] #7 closed, assigned to JMurk

[2014-01-10 11:46] JMurk commented on #14
Confirmed Fixed.

[2014-01-10 11:46] #14 closed, assigned to JMurk

[2014-01-10 11:50] JMurk commented on #11
Confirmed complete.

[2014-01-10 11:50] #11 closed, assigned to JMurk

[2014-01-10 11:57] JMurk opened #15 "Utility Viewer - Plan Report - Plan ID"
Issue: On the valve shutdown report, it shows Plan ID.  This should be changed to Plan Name.

![image](https://f.cloud.github.com/assets/5805454/1886751/21f837ac-79ee-11e3-87e4-745c34ac3e52.png)

Steps to Recreate:
1. Preform a main trace
2. Save a Plan
3. Navigate to the Plan Information window
4. Click Report

Resolution:  Please replace Plan ID with Plan Name on the report.

[2014-01-10 12:03] JMurk opened #16 "Utility Viewer - Main Shutdown Plan Evaluation - Save"
Issue:  After a user saves a Plan and clciks OK on the confirmation message, the system sends the user back to the Valves tab.  The system should keep the window at the Plan Information tab.

Steps to Recreate:
1. Perform a Main Trace
2. Save a new Plan.
3. Click OK on the confirmation window.

Resolution:  Please do not redirect to the valves tab after the user clicks OK on the confirmation windo

[2014-01-10 12:05] JMurk opened #17 "Utility Viewer - RAP - Check SMTP Server"
_Per Lu's comment_  Please check if the SMTP server for the RAP.DoNotReply@baltimorecity.gov email account is up running.
IP:  169.156.38.50, Port: 25

[2014-01-10 12:12] JMurk opened #18 "Utility Viewer - Request New User Accounts"
We need some basic accounts set up for testing, training, non-expiration, and users who do not have City accounts.
1. User with non-expiring password and access to the CCTV folder.  This will also be used fro RAP login credentials.
2. Training/Basic User Accounts:
   -Viewer (access to Uview view only)
   -WaterCrewLeader
   -WaterSupervisor

Testing account:  Testing account with access to ALL vi

[2014-01-10 14:08] JMurk opened #19 "Utility Viewer - Assigned Employee Dropdown"
Please update ALL "Assigned Employee" drop down lists to be filtered using the Config User Table.  Show User_FullName values where Assigned_To = "Y".

Assigned Employee drop downs are in the following locations:
-Valve Open/Close Plan Evaluation, Plan Information Tab
-Main Shutdown Plan Evaluation, Plan Information Tab
-Find Exisiting Plan window.  NOTE:  This field is called Responsible Party her

[2014-01-10 14:11] JMurk opened #20 "Utility Viewer - Water Tools - Date Formating"
Issue:  Across the various windows in the water tools, dates are displayed in different formats.

Resolution:  Please make all date fields display like this:
![image](https://f.cloud.github.com/assets/5805454/1887646/f770b6ae-7a00-11e3-954f-556782162696.png)

_Please make sure that the input/display boxes are large enough to display these formats.  Some may need to be enlarged_

[2014-01-10 14:29] JMurk opened #21 "Utility Viewer - Plan Information - Enforce Required Fields"
Issue - When saving a Valve Open/Close plan, the system does not require the user to enter Plan Name or Description.  The user should not be able to save the plan until both fields are populated.

Steps to Recreate:
1. Click the Update valve status button
2. Select Valves
3. Toggle the check box next to a few valves
4. Click Initiate Plan

Resolution:  Please make Plan Name and Description require

[2014-01-10 15:05] JMurk commented on #9
Completed

[2014-01-10 15:05] #9 closed, assigned to JMurk

[2014-01-10 15:25] JMurk opened #22 "Utility Viewer - Verify Wachs Data"
_As Per Amy's Comment_:  "Can someone check that the Wachs data updates are working daily?"

Please verify and respond here.

[2014-01-10 15:26] kanglu666 commented on #20
all other date fields in the valve window will have date format: 05/15/2011 format. (change the layout may be mess up some others, so it's better just keep it as is.)

date fields in save plan window will have date format : January 14, 2014 format

[2014-01-10 15:40] gjmkelly commented on #22
Programmatically, Wachs data updates are working daily,  However, the [water].[water].[MAINT2WATER_VLV] table that is the basis for updating shows no last visit/operated dates after 10/10/2013.  So data is three months out of date.

[2014-01-10 15:40] #22 closed, assigned to nobody

[2014-01-10 15:59] JMurk commented on #20
Update all to MM/DD/YYYY please.

[2014-01-10 16:13] JMurk opened #23 "Utility Viewer - Main Trace - System Cannot Find Valves to Stop Flow"
Issue:  The main trace function is unable to find valves to stop water flow when it appears that it should.

Steps to recreate:
1. Navigate to Water Main ID WEE27__0093866M
2. Click Main Trace
3. Select the main noted in step 1
4. Click Perform Trace

Resolution:  Please investigate and resolve accordingly.

[2014-01-10 16:28] kanglu666 commented on #12
Looks like need work with Gerry

[2014-01-10 16:29] JMurk opened #24 "Utility Viewer - Reverse Operations Plan - Naming"
Is is possible to programatically add "- Reverse Operation" to the end of a plan name for the reverse plan?  For example, in the figure below, the second record would be "joe - Reverse Operation"

![image](https://f.cloud.github.com/assets/5805454/1888948/37383132-7a14-11e3-81d8-ca81b33040f8.png)

Also, can we make it so that there can not be duplicate plan names? Does that make sense?

[2014-01-10 16:30] JMurk commented on #12
Gerry, please investigate.

[2014-01-10 17:09] JMurk opened #25 "Utility Viewer - Valves Plan - Details/Update Window - Changes"
Issue:  There are numerous changes that should be made to the valve plan details and update plan information windows.
1. Plan Name, Plan Type, and When to be Executed should be Non-editable.
2. Status should be editable (drop down values of Pending, In Progress, and Complete)
3. An editable field for Actual Start Date should be added above Date Completed and below When to be Executed.
4. Related P

[2014-01-10 17:10] JMurk commented on #25
Note:  This goes for the Plan Information page after click the Details button AND for the Plan information page after opening the plan from search results.

[2014-01-10 17:36] JMurk opened #26 "Utility Viewer - Main Shutdown Plan - Plan Information - Plan Type Drop Down"
Issue:  The Plan Type drop down allows the user to enter and save values not in the drop down list.

Steps to Recreate:
1. Perform a Main trace
2. Click the Plan Information tab
3. Type data into the "Plan Type" field
4. Click Save.

Resolution:  Please update so that the user has to select a value from the drop down list and do not allow them to manually enter text into the input box.

[2014-01-10 18:05] JMurk opened #27 "Utility Viewer - Main Shutdown Plan - Plan Information - Description Field"
Issue:  On the Main Shutdown Plan, Plan Information window, there is no field for description.

Steps to Recreate:
1. Perform a Main Trace
2. Click the Plan Information tab.

Resolution: Please add a Description field to the Plan Information form.

[2014-01-10 20:00] kanglu666 commented on #12
updated from dashboard side. please test

[2014-01-10 20:22] JMurk opened #28 "Utility Viewer - New Data Feed"
I have created a new Map Service called UAMD_Water.  Please add this to the Utility Viewer under the UAMD feed as UAMD-Water.  Also, please rename the existing UAMD feed to UAMD-Wastewater.

The new UAMD-Water feed should only be shown in the WAView.

Let me know if you have any questions.

[2014-01-13 15:11] JMurk opened #29 "Utility Viewer - Update Print Templates"
Update print templates to reflect new UAMD - Wastewater and UAMD - Water.  Test and confirm.

[2014-01-13 16:14] kanglu666 commented on #28
layer "UAMD Water" has been added into WAVIEW
UAMD layer in WWView has been rename to UAMD Wastewater

[2014-01-13 18:33] JMurk commented on #29
Completed

[2014-01-13 18:33] #29 closed, assigned to JMurk

[2014-01-14 13:45] JMurk commented on #28
Confirmed Completed

[2014-01-14 13:45] #28 closed, assigned to JMurk

[2014-01-14 13:49] JMurk commented on #27
Confirmed complete.

[2014-01-14 13:49] #27 closed, assigned to JMurk

[2014-01-14 13:50] JMurk commented on #26
Confirmed complete.

[2014-01-14 13:50] #26 closed, assigned to JMurk

[2014-01-14 13:54] JMurk commented on #24
It appears that when I try to save a duplicate plan name, a error is prompted that says "Please do Tracing Analysis first!!"  --  This should say "Plan name already exists!" for this error.

[2014-01-14 13:56] JMurk commented on #21
Please make "Description" a required field as well.

[2014-01-14 13:58] JMurk commented on #20
Confirmed complete.

[2014-01-14 14:01] JMurk opened #30 "Utility Viewer - Add Work Orders and SRs to Display"
From Amy: "I created an mxd with proposed logic for the cityworks SRs and WOs.  It’s basically by asset group (sewer, water, storm) and then within each open or ALL.  There is also a category for sewer that is Routine.  The asset group for sewer is wastewater.  I think water is going to be water and storm will be stormwater.

\dpw-gwdev01-srv\Projects2\CITYWORKS layers.mxd

My thought is add these

[2014-01-14 14:07] JMurk commented on #19
Confirmed complete.

[2014-01-14 14:07] #19 closed, assigned to JMurk

[2014-01-14 14:08] JMurk commented on #16
Confirmed complete.

[2014-01-14 14:08] #16 closed, assigned to JMurk

[2014-01-14 14:08] JMurk commented on #13
Confirmed complete.

[2014-01-14 14:08] #13 closed, assigned to JMurk

[2014-01-14 14:18] JMurk commented on #12
It appears that this has been fixed, I have not been able to duplicate the original issue.

[2014-01-14 14:18] #12 closed, assigned to JMurk

[2014-01-14 15:19] JMurk opened #31 "Utility Viewer - Find Existing Plan - Remove Text Box at the Bottom"
Issue:  At the bottom of the Find Existing Plan window, there is an input box that appears to be populated with the Plan ID.  This seems unnecessary and not useful.

![image](https://f.cloud.github.com/assets/5805454/1911641/37a841ca-7d2f-11e3-8807-ba7f120bbda2.png)

Resolution:  Please remove this from the window.

[2014-01-14 15:48] JMurk opened #32 "Utility Viewer - Find Existing Plan - Choose One in Drop Down"
Issue:  "-Choose One-" is shown as an option with in the Responsible Party drop down list.

![image](https://f.cloud.github.com/assets/5805454/1911898/c51437dc-7d32-11e3-896c-253e96d83571.png)

Resolution:  Please replace "-Choose One-" with "-All Users-" so that the user may search for plans assigned to any user.

[2014-01-14 15:53] JMurk opened #33 "Utility Viewer - Find Existing Plan - Created By Drop Down - Needs All Users Option"
Issue:  There is no way for a user to remove the Plan Created By search filter (if they are not sure who the creator was).

![image](https://f.cloud.github.com/assets/5805454/1911969/c854c51e-7d33-11e3-88a9-40f3a8fc93cd.png)

Resolution:  Please add an "-All Users-" option to the Plan Created By drop down.  This should not put any filter on the Created By field.

[2014-01-14 15:55] JMurk commented on #20
It appears the Date Filters and the Created Date column on the Find Existing Plan window are still not the correct format.  Please update to MM/DD/YYYY.
![image](https://f.cloud.github.com/assets/5805454/1912035/cfc43b1c-7d34-11e3-93aa-76ff9e6b3058.png)

[2014-01-14 18:41] JMurk opened #34 "Utility Viewer - Water Tools - New Users Permissions Issues"
Issue:  It seems that users add to the Config.User table are not getting the permissions to the water tools as they should.

Resolution:  Please investigate and resolve accordingly.  Stop over if you need to discuss further.

[2014-01-14 18:47] JMurk opened #35 "Utility Viewer - Add New Data Feed to WWView"
Please add a new data feed called "Cityworks - Wastewater" to WWView.  It may be placed at the top of all layers.

The map service is published on the dev box dpw-gwdev01-srv and is called "Cityworks_Wastewater.

Let me know if you need any further info.

[2014-01-14 20:07] kanglu666 commented on #35
dpw-gwdev01-srv is not for outside, it will not work when adding it to the dashboard

[2014-01-14 20:17] kanglu666 commented on #24
as i said before, it's a whole process to save a plan after doing the tracing. after the tracing, click the save button , the plan will be saved.
if the plan window is still on, then if you click cancel or go the valve list tab do some changes, you need click the continue button, go the plan window, save an new plan.

[2014-01-14 20:33] JMurk commented on #24
Completed.  Unique plan name has been deferred.

[2014-01-14 20:33] #24 closed, assigned to JMurk

[2014-01-14 22:44] gjmkelly commented on #23
It’s difficult to say when you could legitimately get the “No valves that can stop water flow found in first attempt …” message, but this would very rarely happen.   If this was actually the case, the trace routine has an option to retry by a much longer, but almost-sure-to-work method (but I’m not sure what the dashboard trace does as a fallback when this is actually the case (Lu?)).

In my testi

[2014-01-14 22:44] #23 closed, assigned to nobody

[2014-01-15 13:14] JMurk opened #36 "Utility Viewer - Water Tools - Viewer Permissions"
When a user's permissions is set to "Viewer" (or 1 in the table), does that mean that they have access to the valve status tool, but can not make any edits?  If not, what does this permission do?

[2014-01-15 15:10] kanglu666 commented on #21
red line under the description fields will show when this field is blank/empty.

[2014-01-15 15:14] kanglu666 commented on #36
Viewer means that they have access to the valve status tool, but can not make any edits

[2014-01-16 13:53] JMurk commented on #36
Ok, great.  Thanks Lu.

[2014-01-16 13:53] #36 closed, assigned to JMurk

[2014-01-16 14:07] JMurk commented on #34
Confirmed that users in the Config.Users table must be entered in all lowercase (to match active directory).  Through testing, it does not appear that the say applies to User.Views table.

[2014-01-16 14:07] #34 closed, assigned to JMurk

[2014-01-16 14:13] JMurk opened #37 "Utility Viewer - Find Existing Plans - Select a Plan Error Message"
Issue:  When clicking the select or report button on the Find Existing Plan window, the system correctly displays an error message.  The problem is that it should read "Please select a plan!!" rather than "please select a plan!!" (The P in please should be capitalized).

![image](https://f.cloud.github.com/assets/5805454/1931025/5ea1cee2-7eb8-11e3-8e22-b9ddac1b6da0.png)

Resolution:  Please capita

[2014-01-16 14:14] JMurk commented on #32
Confirmed complete.

[2014-01-16 14:14] #32 closed, assigned to JMurk

[2014-01-16 14:14] JMurk commented on #31
Confirmed complete.

[2014-01-16 14:14] #31 closed, assigned to JMurk

[2014-01-16 14:22] JMurk commented on #21
I tested this and tried to save the record.  It correctly did not save, however the save button became disabled and I was not able to edit the record and save again.  The save button should be disabled and there should probably be a notification when the user clicks save that the system is not saving the record because the description field is missing.

[2014-01-16 14:22] #21 closed, assigned to kanglu666

[2014-01-16 14:22] JMurk commented on #20
Confirmed complete.

[2014-01-16 14:22] #20 closed, assigned to JMurk

[2014-01-21 00:07] JMurk opened #38 "Utility Viewer - Symbology Changes"
Can someone makes these changes, no rush:
For the Design Project Consultant Areas layer,
·       Change the primary display field to the project id, scno (SC 920)
·       Label the polygons with the project id and the start_date
·       Turn additional fields on: status, start and end dates

Please add the Dead Ends layer and enable by default in WW view, also please have them labeled at 1,000 ft

[2014-01-27 20:30] JMurk commented on #37
Confirmed complete.

[2014-01-27 20:30] #37 closed, assigned to JMurk

[2014-01-27 20:32] JMurk commented on #33
I do not see an -All Users- option for Plan Created By.

[2014-01-28 13:24] JMurk commented on #25
This widow still has numerous outstanding issues in BOTH locations.

Valve Open/Close Plan Evaluation window:
1. Plan Name still allows users to input into the text box.  It should be non-editable.
2. Status should be editable with drop down values of Pending, In Progress, Complete.
3. Description is missing

Find Existing Plan - Existing Plan Information Window
1. Assigned is misspelled.
2. Statu

[2014-01-28 13:25] JMurk commented on #15
Confirmed Complete

[2014-01-28 13:25] #15 closed, assigned to JMurk

[2014-01-29 17:18] JMurk commented on #38
Changes have been made and confirmed.  Note that status, start and end dates fields do not exist for the layer and therefore could not be used.

[2014-01-29 17:18] #38 closed, assigned to JMurk

[2014-01-30 20:45] JMurk opened #39 "Utility Viewer - Export Functionality"
Requested Enhancement:  Add a button that will allow users to export a selected layer's attributes to an excel file.  This will allow them to analyze the data on their own without having to rely on the MIG group.

We will need to discuss the detailed requirements, but for now please provide an estimated LOE and timeframe.

[2014-02-04 15:46] JMurk opened #40 "Utility Viewer - Investigate IE11 Compatibility Mode Issue"
Please investigate why the Utility Viewer will not load when compatibility mode is enabled for IE11.

Resolve if possible.

[2014-02-06 17:01] JMurk commented on #39
The basic use case for the export tool in the Utility Viewer will be:
1.  User right-clicks on a layer in the table of contents.
2.  The system provides options for a GIS Locator (existing) and Export Attributes (new)
3.  The user selects the Export Attributes option.
4.  The system prompts and notifies the user:  Feature attributes are constantly being updated.  The exported attributes should be

[2014-02-17 14:43] JMurk opened #41 "Utility Viewer - Export Function - Right-Click Option Available for All Layers"
Issue:  The Export CSV function appears to be available for all layers when it is not.

Resolution:  Please remove the "Export CSV" option from right-click for feature without the ability t be exported.

[2014-02-28 13:43] JMurk commented on #41
Confirmed that a message notifies the user.

[2014-02-28 13:43] #41 closed, assigned to kanglu666

[2014-02-28 13:50] JMurk opened #42 "Utility Viewer - Export Function - Server Errors for a Few Layers"
Issue:  The following layers currently throw errors when attempting to export:

-Lateral Address Points
-Lateral Root Treatment
-Sewer Manhole
-Water Valves
-Water Services
-Active Water Mains
-Abandoned Water Mains
-Valve Condition

I believe that some of these are having issues because they have joined tables.  Some, however do not, so I am unsure of the issue there.

Resolution: Please investig

[2014-02-28 13:55] JMurk commented on #40
Any findings on this issue?

[2014-02-28 13:55] JMurk commented on #39
Completed and in place @ City.

[2014-02-28 13:55] #39 closed, assigned to BC89

[2014-02-28 13:56] JMurk commented on #33
What is the status of this update?

[2014-02-28 13:58] JMurk commented on #25
What is the status of these updates?

[2014-02-28 13:59] #17 closed, assigned to kanglu666

[2014-02-28 14:00] JMurk commented on #18
Ian, can you confirm if any of this was done? or if it is possible?

[2014-02-28 14:02] JMurk commented on #35
Ian, can we make dpw-gwdev01-srv accessible to the outside?

[2014-03-06 18:32] kanglu666 commented on #40
Utility Viewer now supports IE11 Compatibility Mode, Please Test

[2014-03-24 16:49] JMurk opened #43 "Utility Viewer - Repoint CCTV Function"
Issue:  Currently the CCTV function in the Utility Viewer is pointing at the CCTV_Reference table in the Wastewater geodatabase.  Recently, a 2-way replica was established for this same table in the Operations geodatabase.  We would like to re-point the Utility Viewer to the CCTV_Reference in the Operations geodatabase.  The purpose for doing this is so that CCTV Videos can be accessible as soon a

[2014-03-31 15:24] JMurk opened #44 "Utility Viewer - Add Inlets to Default Identify Layers"
Please add Inlets to the list of features to identify by default for SWView.

[2014-04-01 14:33] kanglu666 commented on #43
Utility Viewer CCTV function has been repoint to the multi version view CCTV_Reference_VW in Operations database.

[2014-04-11 16:41] JMurk opened #45 "City of Baltimore Mobile Applications - Landing Page"
Please create a landing page/application portal for users to access Baltimore City mobile applications, which include:

-Utility Viewer Mobile
-SSO Reporting
-FOG/FSE Inspection
-Leak Detection

The portal should filter out options based on specified user permissions.

[2014-04-18 12:18] JMurk opened #46 "Utility Viewer - RAP Confirmation Message"
Issue:  The text in the confirmation message has no capitalization.

![image](https://cloud.githubusercontent.com/assets/5805454/2741752/7a7928c6-c6f3-11e3-904f-7262b79acdf5.png)

Resolution:  Please update confirmation message to read:

"Problem report has been submitted"

[2014-04-21 17:15] JMurk commented on #43
Completed

[2014-04-21 17:15] #43 closed, assigned to JMurk

[2014-04-21 17:16] JMurk commented on #18
use DPWTEST

[2014-04-21 17:16] #18 closed

[2014-04-21 17:26] JMurk commented on #40
Completed

[2014-04-21 17:26] #40 closed, assigned to JMurk

[2014-04-22 14:30] alanfoster99 opened #47 "Utility Viewer - Zoom to My Location"
On iPad, if the user uses the Zoom to My Location tool consecutively (usually only 2 - 3 times) the app crashes.

[2014-04-25 13:25] alanfoster99 commented on #47
This is a known bug with the platform.  Closing.

[2014-04-25 13:25] #47 closed, assigned to kanglu666

[2014-04-28 16:15] JMurk commented on #42
Also getting an error for exporting data within the UAMD Water feed.  Those data sources are pgdb not SDE, however.

Lu,  Please investigate all of these layers.

[2014-04-28 18:20] kanglu666 commented on #33
just don't chose any one in the drop down list, then it will show the default value '-All Users-'

[2014-04-29 15:34] alanfoster99 opened #48 "Utility Viewer - Map Layers - Historical Leaks"
Please change the "old" leaks database to be a single symbol, entitled "Historical Leaks"; all 4 classes will be symbolized by this.  Alan to assist

[2014-04-29 18:29] kanglu666 commented on #42
just test the sewer manholes layer, it's working.
where is the UAMD water feed?

[2014-04-29 18:30] kanglu666 commented on #46
done

[2014-04-29 18:30] kanglu666 commented on #44
done

[2014-04-29 18:32] kanglu666 commented on #25
Plan Name and plan type are now non-editable.
"Assigned is misspelled":  fixed

[2014-04-29 20:41] JMurk commented on #42
WAView

[2014-04-29 20:55] JMurk opened #49 "Utility Viewer - Add New Map Feeds"
Please add the following feeds to the Utility Viewer:
1. Work Orders (dpw-gwdev01-srv as Cityworks_Workorders) WWView, SWView, and WAView, above CSRs
2. SSO (use map service from application, 10.2).  WWView, above UAMD Wastewater
3. FSE (use map service from application) WWView, above UAMD Wastewater

[2014-04-29 20:57] JMurk commented on #30
Being addressed in issue #49

[2014-04-29 20:57] #30 closed, assigned to JMurk

[2014-04-29 20:57] JMurk commented on #49
All feeds would be off by default.

[2014-04-30 15:18] JMurk commented on #48
done, -logged in Leak Detection repository.  Closing here.

[2014-04-30 15:22] JMurk commented on #46
Confirmed complete.

[2014-04-30 15:22] #46 closed, assigned to JMurk

[2014-04-30 15:24] JMurk commented on #44
Confirmed complete.

[2014-04-30 15:24] #44 closed, assigned to JMurk

[2014-04-30 15:25] JMurk commented on #33
Closing.

[2014-04-30 15:28] #33 closed, assigned to kanglu666

[2014-04-30 16:06] kanglu666 commented on #49
done, please test

[2014-04-30 16:24] JMurk opened #50 "Utility Viewer - Scenario Plan Type & Adjust Permissions"
Please add a plan type of "Scenario" for all Main and Valve Shutdown plan options.

Also, users with Viewer permission should be able to save plans where Plan type = Scenario ONLY.  They should not be able to save Planned Shutdowns or Emergency Shutdowns.

![image](https://cloud.githubusercontent.com/assets/5805454/2843835/adb79a30-d083-11e3-842f-38c53196ea67.png)

[2014-04-30 16:38] JMurk opened #51 "Utility Viewer - Highlight Features for Existing Plans"
Issue:  When a user opens and existing plan, the app zooms to the location, but does not highlight the features.

Steps to recreate:
1. Search for an existing plan using the Find Existing Plan tool
2. Highlight a plan from the results and click select to open it

Resolution:  Please update so the features are highlighted the same as when the trace was initially executed.

[2014-04-30 16:45] JMurk opened #52 "Utility Viewer - Existing Plan Information - Replace TAGs with IDs"
Issue:  On the Existing plan information window, the Valve and Main TAGs are displayed.

Resolution:  Please update to display Valve ID (VLV_ID) for valves and Main ID (MAIN_ID) for mains.

![image](https://cloud.githubusercontent.com/assets/5805454/2844126/cd2019da-d086-11e3-9bff-f64827f82fca.png)

![image](https://cloud.githubusercontent.com/assets/5805454/2844132/e2b75772-d086-11e3-8d49-4190b59

[2014-04-30 16:59] JMurk commented on #52
Also, please make Pipe Size  on the Mains w/o service screen an integer.  All the trailing 0's are unnecessary. Do the same for Lat Size on the Hydrant w/o service page as well:

![image](https://cloud.githubusercontent.com/assets/5805454/2844291/ecc7e1c6-d088-11e3-8445-2751a90e35f9.png)

[2014-04-30 18:50] kanglu666 commented on #52
done

[2014-04-30 18:53] kanglu666 commented on #51
after trace, i will get the geometries for all features in that trace.
but for existing plan, we are get the attributes from the valve status and plan tables. no geometry attributes.
the only way to highlight them on the map is select one feature then i will call the map service get the geometry back based on ids. but one select just show one feature.

[2014-04-30 19:14] alanfoster99 opened #53 "Utility Viewer - Map Layers - Active Leaks"
Please add the Current Leaks as a feed to the Utility Viewer.  These are the current leaks as created by the Leak Detection App.  The user will need to be able to access the Leak Report, dynamically generated and accessed via the "Select Leaks" tool -> "Report" button at the bottom.

[2014-05-01 14:24] DaveThomKCI opened #54 "Unable to Export Map"
Tried to export in IE, Firefox, and Chrome.  Export progress bar shows some action, but then the progress bar goes away, and no map is generated.

[2014-05-01 18:04] kanglu666 commented on #54
working now.

[2014-05-02 12:57] JMurk opened #55 "Utility Viewer - Add Fields to Update Valve Status Window"
Please add access and problem fields to the Update Valve Status window as editable.  They are stored in the VALVE_STATUS table as VALVE_ACCESS and VALVE_PROBLEM. Both are varchar 255.

[2014-05-05 15:46] kanglu666 commented on #53
which views do you want to add the the "New" leak layer into? and what name should give to the new leak layer?  right now, the old leak layer has name "Leak", and the select Leak tool is based on the layer name.

[2014-05-06 13:27] JMurk commented on #52
Confirmed complete.

[2014-05-06 13:27] #52 closed, assigned to JMurk

[2014-05-06 13:28] JMurk commented on #51
Is there any way to have a button or something that they can re-run the original trace to get the symbology?  Lets talk about this.

[2014-05-06 13:33] JMurk commented on #49
Confirmed for FSE and SSO.  Waiting on Cityworks data to be ready.

[2014-05-06 13:34] JMurk commented on #49
We may need a new SSO map service for the Utility Viewer.  Will get feedback form UAMD first.

[2014-05-06 14:46] JMurk opened #56 "Utility Viewer - Link SSO, FSE, and New Leaks to Reports"
When a user identifies SSOs, FSEs, or New leaks, the report button at the bottom of the Results Display panel should launch the report in a new tab.  SSO will launch be the most recent report.

[2014-05-07 16:52] alanfoster99 commented on #53
best to ask Joe -- assigning to him

[2014-05-07 16:54] JMurk commented on #53
Lu,  can we just add the new leaks to the existing map service?

[2014-05-07 17:11] #48 closed, assigned to JMurk

[2014-05-07 17:13] alanfoster99 opened #57 "Utility Viewer - Map Layers - Identify Historical Leaks"
Please link to the historical leak PDFs as part of the identify process for the historical leaks.

[2014-05-08 16:17] JMurk commented on #54
Closing.

[2014-05-08 16:17] #54 closed, assigned to DaveThomKCI

[2014-05-08 16:20] JMurk commented on #51
Please implement as per discussion in status meeting 5/8/24

[2014-05-08 16:23] JMurk commented on #50
Needs to be discussed.

[2014-05-08 16:41] JMurk commented on #45
Portal page is up at the city as a concept.  Still needs:

-Design and Icons (Tiffany to assist)
-Admin portion

[2014-05-08 16:56] JMurk commented on #35
Now in issue #49

[2014-05-08 16:56] #35 closed

[2014-05-08 17:17] JMurk commented on #25
Closing.

[2014-05-08 17:17] #25 closed, assigned to kanglu666

[2014-05-09 17:40] JMurk commented on #42
**Layers still throwing errors:**

Water

<ul><li>Water Valves</li>
<li>Water Services</li>
<li>Active Water Mains</li>
<li>Abandoned Water Mains</li>
<li>Valve Condition</li></ul>

WasteWater

<ul><li>Sewer House Connection</li>
<li>Lateral/CO Points</li></ul>

UAMD Water

<ul><li>Water Projects</li>
<li>Water Main Condition and Criticality</li></ul>

UAMD Wastewater

<ul><li>Lateral Address Poin

[2014-05-11 17:57] kanglu666 commented on #57
done

[2014-05-11 17:59] kanglu666 commented on #56
done

[2014-05-11 17:59] kanglu666 commented on #53
done

[2014-05-11 18:01] kanglu666 commented on #51
an new button call "Highlight" has been added at the bottom of the "Existing Plan Information" form.
after select an plan go to the plan information tab, you will see the button.
click the button, map will highlight the plan.

[2014-05-12 12:57] JMurk commented on #56
Confirmed for FSE.

Lu- Can you launch the report for all SSO layers?

Alan- Can you confirm for Leaks?  Are there any new leaks in there yet?

[2014-05-12 12:57] JMurk commented on #53
Confirmed complete.

[2014-05-12 12:57] #53 closed, assigned to JMurk

[2014-05-12 12:59] JMurk commented on #51
Great! --Confirmed complete.

[2014-05-12 12:59] #51 closed, assigned to JMurk

[2014-05-12 13:12] kanglu666 commented on #56
SSO report is only for 24 hour and 5 day

[2014-05-12 13:14] JMurk commented on #56
Fair enough.  Alan- please confirm leaks and close.

[2014-05-13 14:01] JMurk commented on #49
All layers now in UV.  Closing.

[2014-05-13 14:01] #49 closed, assigned to JMurk

[2014-05-13 14:45] kanglu666 commented on #42
Export CSV function updated.
i tested the Water Valves and Valve Condition layer, working fine.
Please test all other layers, let me know which layer will throw error.

[2014-05-14 17:55] alanfoster99 commented on #56
Confirmed for leaks and closing.

[2014-05-14 17:55] #56 closed, assigned to alanfoster99

[2014-05-14 17:55] alanfoster99 commented on #57
Confirmed and closing.

[2014-05-14 17:55] #57 closed, assigned to alanfoster99

[2014-05-23 14:03] JMurk commented on #55
Lu, what is the status of this change?

[2014-05-27 13:10] JMurk commented on #42
Still errors for the following layers:

-Lateral/CO Points
-Water Projects
-Water Main Condition and Criticality
-Lateral Address Points
-Lateral Root Treatment

[2014-05-28 13:29] JMurk opened #58 "Utility Viewer - Discrepancies - Submit Icon"

[2014-05-28 13:35] JMurk opened #59 "Utility Viewer - Discrepancies - Confirmation Typo"
Issue:  Please fix the typo in the confirmation message after creating a discrepancy point (discrepancy, not aiscrepacny)

![image](https://cloud.githubusercontent.com/assets/5805454/3104883/e24eeb28-e66c-11e3-8f48-cf9428b84578.png)

[2014-05-28 13:53] JMurk opened #60 "Utility Viewer - Discrepancies - Change Tooltip"
Please change the tooltip over the discrepancy button to "Add GIS Discrepancy"

[2014-05-28 13:54] JMurk opened #61 "Utility Viewer - Discrepancies - Form Icon"
Can we change the form icon?  Please show me the available options.

![image](https://cloud.githubusercontent.com/assets/5805454/3105126/9159701e-e66f-11e3-9160-11ac6de76514.png)

[2014-05-28 13:56] JMurk opened #62 "Utility Viewer - Discrepancies - Required Feilds"
Issue:  The system allows a discrepancy to be saved without any information added to the form.

Resolution:  Please make all fields required with the EXCEPTION of source.

[2014-05-29 12:13] JMurk opened #63 "Utility Viewer - Discrepancies - Add to Mobile"
Please add the discrepancy reporting functionality to Utility Viewer mobile ASAP.

[2014-05-29 13:49] kanglu666 commented on #58
icon updated

[2014-05-29 13:50] kanglu666 commented on #59
fixed

[2014-05-29 13:50] kanglu666 commented on #60
done

[2014-05-29 13:51] kanglu666 commented on #62
all fields are required now, alert message will pop up if there are blank value in the fields

[2014-05-29 20:15] kanglu666 commented on #63
adding discrepancy tool has been plugged into the utility viewer mobile app.
please clear browser cache and test.

[2014-05-30 18:16] JMurk commented on #62
Please make make Source not required and change the message to "Warning: All fields required, except Source" - per our conversation

[2014-05-30 18:39] JMurk commented on #63
Confirmed complete.... please be sure bug fixes to mobile discrepancy tool get pushed to all locations.

[2014-05-30 18:39] #63 closed, assigned to JMurk

[2014-05-30 18:46] JMurk opened #64 "Utility Viewer - Mobile Discrepancies - Update Message"
Please update the following pop-up message to read:  "Add New Discrepancy? - Tap on Map!"

-Be sure that Discrepancy is spelled correctly.
-Make the change in the Leak Detection App as well

![image](https://cloud.githubusercontent.com/assets/5805454/3134840/c2b15a0c-e82a-11e3-8ddb-c10c93b94c39.png)

[2014-05-30 18:47] JMurk commented on #60
Confirmed complete.

[2014-05-30 18:47] #60 closed, assigned to JMurk

[2014-05-30 18:48] JMurk commented on #59
Confirmed complete.

[2014-05-30 18:48] #59 closed, assigned to JMurk

[2014-05-30 18:48] JMurk commented on #58
Confirmed complete.

[2014-05-30 18:48] #58 closed, assigned to JMurk

[2014-05-30 19:01] JMurk opened #65 "Utility Viewer - Mobile Discrepancies - Change Warning Message"
Please update the following warning message to read:

"Cannot Add New Discrepancy.  Please Zoom In to the Location First!"

![image](https://cloud.githubusercontent.com/assets/5805454/3134981/c95f0e60-e82c-11e3-835f-b4e662632bc3.png)

[2014-05-30 19:03] JMurk opened #66 "Utility Viewer - Mobile Discrepancies - Fields Blank by Default"
Issue:  After creating a new discrepancy point, the system populates the top 3 columns with default values.  These should be kept blank by default.
![image](https://cloud.githubusercontent.com/assets/5805454/3135011/32ff136a-e82d-11e3-912b-880d2e89b306.png)

[2014-05-30 19:06] JMurk opened #67 "Utility Viewer - Mobile Discrepancies - Duplicate Fields"
Issue:  Description is in the discrepancy form twice:

![image](https://cloud.githubusercontent.com/assets/5805454/3135019/5dbb7b66-e82d-11e3-966a-7af88d768226.png)

Resolution: The bottom description field should actually be source.  Please update the label so that it matches the label on the UV form.

[2014-05-30 19:07] JMurk opened #68 "Utility Viewer - Mobile Discrepancies - Required Fields"
Please make all fields required except for Source.  Just as it is in the Utility Viewer.  Also be sure to notify the user when a required field is missing.

[2014-05-30 19:13] JMurk opened #69 "Utility Viewer - Mobile - Change Web Page Title"
Please change the title of the web page so that browser tabs read "Baltimore City Utility Viewer - Mobile."

Also please reference the same .ico file that the desktop UV uses (see HTML below)

![image](https://cloud.githubusercontent.com/assets/5805454/3135111/6d27360c-e82e-11e3-8c2e-82055a6d747c.png)

link rel="shortcut icon" href="resources/icons/BaltCity.ico"

[2014-06-02 20:26] kanglu666 commented on #62
done, please clear cache and test

[2014-06-03 12:52] JMurk commented on #50
Please Add a Plan Type of "Scenario"

[2014-06-03 13:28] JMurk commented on #62
Confirmed complete.

[2014-06-03 13:28] #62 closed, assigned to JMurk

[2014-06-03 13:53] kanglu666 commented on #50
Plan Type of "Scenario" has been added.

[2014-06-03 14:02] JMurk commented on #50
Confirmed complete.

[2014-06-03 14:02] #50 closed, assigned to JMurk

[2014-06-03 14:04] JMurk opened #70 "Utility Viewer - Water Tools - Rework Security"
Need to discuss reworking the security levels for the water tools.  The current levels are not being used as originally planned.  Also, the table has fields that are no longer necessary.

[2014-06-03 15:02] kanglu666 commented on #64
done

[2014-06-03 15:02] kanglu666 commented on #65
done

[2014-06-03 15:03] kanglu666 commented on #66
done

[2014-06-03 15:03] kanglu666 commented on #68
done

[2014-06-03 15:09] kanglu666 commented on #69
done

[2014-06-03 16:06] JMurk commented on #69
Confirmed complete.

[2014-06-03 16:06] #69 closed, assigned to JMurk

[2014-06-03 16:08] JMurk commented on #67
Confirmed complete.

[2014-06-03 16:08] #67 closed, assigned to nobody

[2014-06-03 16:08] JMurk commented on #66
Confirmed complete.

[2014-06-03 16:08] #66 closed, assigned to JMurk

[2014-06-03 16:09] JMurk commented on #68
Confirmed complete.

[2014-06-03 16:09] #68 closed, assigned to JMurk

[2014-06-03 16:09] JMurk commented on #65
Confirmed complete.

[2014-06-03 16:09] #65 closed, assigned to JMurk

[2014-06-03 16:10] JMurk commented on #64
Confirmed complete.

[2014-06-03 16:10] #64 closed, assigned to JMurk

[2014-06-09 14:11] kanglu666 commented on #42
All fixed.
Lateral/CO Points data is huge, has 200,000 + records. the export CSV function will take several  mins to finish it. anyway, please test.

[2014-06-09 14:32] JMurk commented on #42
Water Main Condition and Criticality is still not working.  All others have been fixed.

[2014-06-09 14:40] kanglu666 commented on #42
fixed, please test.

[2014-06-09 15:51] JMurk commented on #42
Confirmed complete.

[2014-06-09 15:51] #42 closed, assigned to JMurk

[2014-06-27 18:02] JMurk commented on #45
Closing, tracked in its own repository.

[2014-06-27 18:02] #45 closed, assigned to jday3

[2014-06-27 18:10] JMurk opened #71 "Utility Viewer - Log Out Function"
Issue:  Please add a Log Out button so that users may log out of the application.  Upon log out, the user should be re-directed to a page where they can log back in to the portal or viewer.

[2014-06-30 12:45] JMurk opened #72 "Utility Viewer - New View - Fire Hydrant View"
Create a new View called FireView.  Should match what the Fire Department is used to seeing.

Joe and Alan to discuss further.

[2014-07-07 16:07] kanglu666 commented on #55
VALVE_ACCESS and VALVE_PROBLEM fields have been added into the UV valve status screen as editable for user updating values in db (valve_status table.)

[2014-07-08 17:02] JMurk commented on #55
Confirmed complete.

[2014-07-08 17:02] #55 closed, assigned to JMurk

[2014-07-08 17:04] JMurk opened #73 "Utility Viewer - Main Trace - Barriers"
Add the ability to define "barriers" for main traces.

[2014-07-08 17:10] JMurk opened #74 "Utility Viewer - Main Trace - Generate Labels"
Add functionality to automatically generate call out labels for valves within a shutdown plan.

The labels should:
1. Be color coded
2. Export with PDFs
3. Be dynamically sized
4. Include ID, elevation, and max turns

[2014-07-08 17:13] JMurk opened #75 "Utility Viewer - Main Trace - Zoom To Button for Plan Features"
Add a button that will allow users to zoom to a selected feature within the Plan Information window.

![image](https://cloud.githubusercontent.com/assets/5805454/3513464/01ba8b40-06c3-11e4-87bb-83ce8e577a51.png)

[2014-07-08 17:18] JMurk opened #76 "Utility Viewer - Main Trace - Sequence"
Please make Sequence editable for existing plans.

![image](https://cloud.githubusercontent.com/assets/5805454/3513543/e16d6de8-06c3-11e4-9bb7-743b94899c6f.png)

[2014-07-08 17:35] JMurk opened #77 "Utility Viewer - Main Trace - Spawn Valve Status Window from Plan Information"
Add the ability to spawn the valve status window from the plan information window.  The valve status window should load all selected valves within the plan information window.

![image](https://cloud.githubusercontent.com/assets/5805454/3513790/372ff974-06c6-11e4-8a20-8e2b32f7ea78.png)

[2014-07-08 17:50] JMurk opened #78 "Utility Viewer - Plan Information - Add and Remove Columns"
Add columns of Elevation and Max Turns to the valves tab of the plan information window.  Also, remove Assigned and Execute Date.

![image](https://cloud.githubusercontent.com/assets/5805454/3514002/4fa21a58-06c8-11e4-9001-a21389f498ce.png)

[2014-07-08 18:26] JMurk opened #79 "Utility Viewer - Valve Information - Reorder Position Fields"
Please reorder fields in the Position section within the Valve Status window.  Make Position Left second and Position Found first.

![image](https://cloud.githubusercontent.com/assets/5805454/3514541/ec5b8510-06cc-11e4-86df-a60a08ef647d.png)

[2014-07-08 18:54] JMurk opened #80 "Utility Viewer - Add Shutdown Plan Layer"
Per Amy:

ADD A MAP LAYER CALLED “WATERMAIN SHUTDOWN PLANS” AND HAVE 3 SYMBOLOGY LAYERS: PREVIOUS/RECENT, CURRENT (DATE TO BE EXECUTED = TODAY AND < DATE TO BE REVERSED), PLANNED (NOT SCENARIOS, BUT FUTURE ACTUAL SHUTDOWNS)

[2014-07-08 18:56] JMurk opened #81 "Utility Viewer - New View - Water Operations"
Per Amy:

MAKE A “WATER OPERATIONS” TOP LEVEL GROUP TO INCLUDE HYDRANT STATUS, VALVE CONDITION (TAKE FROM WATER), WATERMAIN SHUTDOWN PLANS, PRIVATE HYDRANTS, …(NEW COMMENT)
Also need a layer that highlights valves that are closed

[2014-07-08 19:05] JMurk opened #82 "Utility Viewer - Hydrant Status Tool"
Create an integrated hydrants status table pulling from the Journal and the Wachs table (same as valves).  This will be similar to the current valve status tools.

Alan- Please mock up and provide details of where/how to access the data.

[2014-07-14 17:10] JMurk opened #83 "Utility Viewer - Identify Tool Enhancement"
Update the identify tool so that it automatically identifies all visible layers without having to select layers from the drop down.

[2014-07-14 17:12] JMurk opened #84 "Utility Viewer - Work Order Symbology Updates"
Separate the work orders by water, sewer, storm, hydrants, meter shop, etc. – some logical groups and then could only display the appropriate group within each view.

[2014-07-15 16:54] JMurk commented on #81
Map Service Water_Operations has been published on dpw-gw03-srv.

Lu-  Please add a feed to the Utility Viewer titled "Water Operations."  It should only be in WAView.

[2014-07-15 17:52] JMurk commented on #80
Complete.

[2014-07-15 17:52] #80 closed, assigned to JMurk

[2014-07-15 19:30] JMurk commented on #84
Created New Map services for Work Orders.  Please add them as feeds to the corresponding Views in the Utility Viewer.

-Sewer_WorkOrders || "Sewer Work Orders" || WWView
-Storm_WorkOrders || "Stormwater Work Orders" || SWView
-SurfaceRepair_WorkOrders || "Surface Repair Work Orders" ||  WAView, SWView, WAView
-Water_WorkOrders || "Water Work Orders" || WAView

The should be placed toward the top o

[2014-07-16 19:46] JMurk commented on #72
After discussion, may not need a new view.  Awaiting feedback from fire dept.

[2014-07-16 20:58] JMurk opened #85 "Utility Viewer - Valve Status- Last Edit User"
Please populate the VALVE_STATU.last_edited_by with the user name of the last editor in the Utility Viewer.

This field should also be exposed as a non-editable field in the Valve Status window.  Label as "Last Editor" and place above the Position group.

![image](https://cloud.githubusercontent.com/assets/5805454/3605488/dd2298a8-0d2b-11e4-9de4-e17003f93866.png)

[2014-07-17 15:29] JMurk opened #86 "Utility Viewer - Drawing Tool Enhancements"
Enhancements for the drawing tools:

-Add a Text tool that allows users to place text as a graphic on the map.

-Add arrowhead options for line styles.

[2014-07-17 15:31] JMurk opened #87 "Utility Viewer - Reformat the Active Legend Output"
Re design the active legend output so that it appears as a "professional looking" legend.

Developers:  Is it possible to export with styling (e.g. borders, headers, ect.)?

[2014-07-17 15:54] JMurk opened #88 "Utility Viewer - Add Print Preview Function"
Users would like the ability to define, or at least know beforehand, what the export bounds of a PDF will be.  Is there a way to provide a quick Print Preview or display the bounds of a print.

[2014-07-17 15:57] JMurk opened #89 "Utility Viewer - Export to CSV - Limit to Selection Set"
Add the ability to export the attributes of a layer based on the features currently selected in the map.

[2014-07-17 16:01] JMurk opened #90 "Utility Viewer - Coordinates"
There are a couple of changes to do with coordinates:
1. Move the Coordinates button from the measure tool to a stand-alone button.
2. Get the coordinates of a feature using an identify.

[2014-07-17 16:02] JMurk opened #91 "Utility Viewer - Measure Tools - Snapping"
Add the ability to snap to points and line ends for the measure tools.

[2014-07-17 16:04] JMurk opened #92 "Utility Viewer - Mobile - Identify Functionality"
Add the ability to identify ALL features in the map.  The results should be the visible attributes of the selected feature.

[2014-07-21 19:17] JMurk opened #93 "Utility Viewer - Mobile - Only Displaying WW"
Issue: The mobile version of the Utility Viewer no longer displays the Stormwater, Conduit, or Water feeds.

Resolution:  Please add these feeds back to the Utility Viewer.

[2014-07-21 21:38] kanglu666 commented on #93
done

[2014-07-24 12:02] JMurk commented on #93
Confirmed complete.

[2014-07-24 12:02] #93 closed, assigned to JMurk

[2014-07-24 13:43] alanfoster99 opened #94 "Utility Viewer - Drawings Disappearing"
Drawings created using the draw tools are erased when the user accesses the Valve Status Tool and then closes the Valve Status window.  Upon closing the window, all drawings disappear.  Please change the interface so the drawings persist.

[2014-07-25 19:40] kanglu666 commented on #83
Check with Amy

[2014-07-26 01:29] kanglu666 commented on #85
updated. please test the prod UV.

[2014-07-26 01:29] kanglu666 commented on #79
done

[2014-07-26 01:30] kanglu666 commented on #78
done

[2014-07-26 01:30] kanglu666 commented on #77
done, please test

[2014-07-26 01:31] kanglu666 commented on #76
updated.

[2014-07-26 01:31] kanglu666 commented on #75
done

[2014-07-26 01:31] kanglu666 commented on #94
done, please test

[2014-07-26 01:32] kanglu666 commented on #86
draw arrowhead added, please test

[2014-07-26 01:32] kanglu666 commented on #81
done

[2014-07-26 01:33] kanglu666 commented on #61
updated

[2014-07-29 14:27] JMurk commented on #61
Confirmed complete.

[2014-07-29 14:27] #61 closed, assigned to JMurk

[2014-07-29 14:28] JMurk commented on #86
Confirmed complete

[2014-07-29 14:28] #86 closed, assigned to JMurk

[2014-07-29 14:29] JMurk commented on #85
Confirmed complete.

[2014-07-29 14:29] #85 closed, assigned to JMurk

[2014-07-29 16:31] JMurk commented on #81
Confirmed complete.

[2014-07-29 16:31] #81 closed, assigned to JMurk

[2014-07-29 16:33] JMurk commented on #79
Confirmed complete.

[2014-07-29 16:33] #79 closed, assigned to JMurk

[2014-07-29 16:38] JMurk commented on #78
Can you cut down the number of decimal places in Max Turns to 2?

![image](https://cloud.githubusercontent.com/assets/5805454/3738256/c0a8e07a-173e-11e4-9039-50539f68a7f8.png)

[2014-07-29 16:39] JMurk commented on #91
Not possible/not worth the effort.

[2014-07-29 16:39] #91 closed, assigned to kanglu666

[2014-07-29 16:43] JMurk commented on #77
Confirmed complete.

[2014-07-29 16:43] #77 closed, assigned to JMurk

[2014-07-29 16:50] JMurk commented on #76
Confirmed complete.

[2014-07-29 16:50] #76 closed, assigned to JMurk

[2014-07-29 17:01] JMurk commented on #75
Confirmed complete.

[2014-07-29 17:01] #75 closed, assigned to JMurk

[2014-07-30 19:50] JMurk opened #95 "Utility Viewer - Add Time to Execute Date"
Please add time to the "When to be Executed" field in the shutdown plan information window.

![image](https://cloud.githubusercontent.com/assets/5805454/3755219/abe1a2c8-1822-11e4-9adb-f10afa23e104.png)

[2014-07-30 19:55] JMurk opened #96 "Utility Viewer - Add Planned Completion Time"
Please add a read-only field labeled "When to be Completed" to the plan information window.

-This should NOT display for reverse plans
-This should be derived from the related plan (When to be executed date of the reverse plan.
-It should be placed directly below the "When to be Executed" field in the window

![image](https://cloud.githubusercontent.com/assets/5805454/3755302/6f0b45ba-1823-11e4-8

[2014-08-05 15:14] DaveThomKCI opened #97 "Add user to "Assigned Employee" in Shutdown plan"
Please add the user CHAD FUHRMAN to the list of users that can be assigned a main shutdown plan.

Screen: Main Shutdown Plan Evaluation
Tab: Plan Information
Field: Assigned Employee

[2014-08-05 16:03] kanglu666 commented on #97
updated, please test

[2014-08-05 16:33] DaveThomKCI commented on #97
completed.  Thanks Lu.

[2014-08-05 16:33] #97 closed, assigned to DaveThomKCI

[2014-08-06 18:28] kanglu666 commented on #84
done on both dev and prod, please test

[2014-08-06 19:22] kanglu666 commented on #78
updated for prod UV.please test

will update on dev once Ian copy the "water" database in.

[2014-08-07 01:04] kanglu666 commented on #78
also updated for dev UV. please test

[2014-08-11 15:48] DaveThomKCI opened #98 "CCTV links are NOT Accessible"
When using the "On Base/CCTV" functionality on Active Sewer Mains in Utility Viewer, no CCTV links are available.  I have verified that the links exist in the table (Operations.GIS_ADMIN.CCTV_Reference).

I used S01WW_013G1 as a test case.

[2014-08-13 15:47] kanglu666 commented on #98
should be fixed.

[2014-08-13 16:03] #98 closed, assigned to DaveThomKCI

[2014-08-18 13:14] JMurk commented on #84
Confirmed complete in prod.

[2014-08-18 13:14] #84 closed, assigned to JMurk

[2014-08-18 13:26] JMurk commented on #78
Confirmed complete in both environments.

[2014-08-18 13:26] #78 closed, assigned to JMurk

[2014-08-18 13:47] JMurk opened #99 "Utility Viewer - Valve Status - Save Confirmation Message"
Issue: After updating the valve status and clicking save, they system prompts a message that says the information was saved. This message disappears after a couple seconds, not requiring the user to click OK.

Resolution: Please investigate and resolve accordingly.  The user should have to click OK to close the message modal screen.

[2014-08-25 14:36] amanda-oshea opened #100 "Utility Viewer - Find Existing Plan - All Users"
The user should have the option to set Plan Created By and Responsible Party back to 'All Users' after they have selected a name from the dropdown.

[2014-08-26 14:23] JMurk opened #101 "Utility Viewer - Scenario Plan - Date Required"
Issue:  When saving a shutdown plan with a type = Scenario, the system requires the user to enter an execution date.

Resolution: Please make execution date nullable ONLY when the plan type= scenario.

[2014-08-26 14:30] JMurk opened #102 "Utility Viewer - Report - Add Valve ID"
Please add the actual Valve ID to the Valve Shutdown Plan Report.  I'm not sure what the current PLAN VALVE ID is, but it does not appear to be useful.  The ID should be something like WHH27__032875V.

![image](https://cloud.githubusercontent.com/assets/5805454/4045841/67c35a9e-2d2d-11e4-9447-4ca132623d66.png)

[2014-08-26 15:30] JMurk opened #103 "Utility Viewer - Water Projects Symbology"
As per Amy:

We need to get water projects in the UV sorted into layers:
UNDER CONSTRUCTION (beginning within 2 months)
FY2015
FY2016

[2014-08-28 14:22] alanfoster99 opened #104 "Utility Viewer - Scroll Bar Causing Tools to Disappear"
When pressing the right-hand scroll tool repeatedly, upon the last click the valve tool group disappears completely.

Please adjust this so that the group never disappears.

*\* This is likely not related to the issue Dale Walker is experiencing **

[2014-08-28 15:28] alanfoster99 commented on #94
Confirmed and closing

[2014-08-28 15:28] #94 closed, assigned to alanfoster99

[2014-08-28 15:29] alanfoster99 opened #105 "Utility Viewer - Export Leak Surveys to CSV"
Please add functionality to export Leak Survey data to CSV

[2014-08-28 17:56] JMurk opened #106 "Utility Viewer - C.A. Request - Complete Status for a New Plan"
Issue:  When creating a new shutdown plan, users cannot select "Complete" as a status.

![image](https://cloud.githubusercontent.com/assets/5805454/4080168/6ca8c250-2edc-11e4-9b51-8f07493304dc.png)

Resolution:  Please allow users to select Complete as a status when creating a plan.  ALSO, when Complete is chosen, please remove the check for when to be executed >= today's date.

[2014-08-28 17:57] JMurk commented on #100
Actually you can do this by deleting the text in the input box.  Do you think that is too hidden?

[2014-08-28 18:00] amanda-oshea commented on #100
I do for the basic user.

From: Joe Murk [mailto:notifications@github.com]
Sent: Thursday, August 28, 2014 12:58 PM
To: JMurk/Utility_Viewer_Issues
Cc: Amanda O'Shea
Subject: Re: [Utility_Viewer_Issues] Find Existing Plan (#100)

Actually you can do this by deleting the text in the input box. Do you think that is too hidden?

—
Reply to this email directly or view it on GitHubhttps://github.com/JM

[2014-08-28 18:04] JMurk opened #107 "Utility Viewer - C.A. Request - Edit Status of an Existing Plan"
Issue:  Users cannot edit the Status of an existing plan.

Resolution:  Please make Status editable for an existing plan using a drop down.  The drop down should have values of:

-Cancelled
-Completed
-In Progress
-Pending

[2014-08-28 18:07] JMurk opened #108 "Utility Viewer - C.A. Request - Add Cancel Tracking Fields"
Please add fields to the Plan Information of:

-Cancelled Date
-Cancelled Reason

If possible, these fields should only appear when the plan status = "Cancelled."  They should also be required when plan status = "Cancelled."

[2014-08-28 18:16] JMurk opened #109 "Utility Viewer - Measure Tool - Clear Results"
Issue:  When you click the clear graphics button on the Measurement Information window, the graphics clear from the map view, but the results remain.

Resolution:  Please clear the results when the clear graphic button is clicked.

[2014-08-28 18:19] JMurk opened #110 "Utility Viewer - C.A. Request - Display Measurement Dynamically"
Is it possible to dynamically display the measurement of a line as the user is drawing it?  In other words, as the user is drawing the results are constantly showing the updated measurement.

[2014-08-28 18:21] JMurk opened #111 "Utility Viewer - Custom Extent - Zoom Button Hides"
Issue:  On small screens, the zoom and delete buttons at the bottom of the Existing extent grids are hidden.

![image](https://cloud.githubusercontent.com/assets/5805454/4080597/1a33f892-2ee0-11e4-9753-5c14eb6637aa.png)

Resolution:  Potentially move these buttons to the bottom of the panel (next to the Clear button).

[2014-08-28 18:34] JMurk opened #112 "Utility Viewer - C.A. Request - New Plan Type"
Please add a plan type of "Survey Only"

[2014-08-28 18:53] JMurk opened #113 "Utility Viewer - C.A. Request - Add Fields to Plan Information"
Please add the following fields to Plan Information:

-Survey Date (Date)
-Charge No. (Varchar, 50)
-Contractor Name (Varchar, 100)
-Contractor Phone (Varchar, 20)
-Inspector Name (Varchar, 100)
-Inspector Phone (Varchar, 20)

[2014-08-28 18:59] JMurk opened #114 "Utility Viewer - Discrepancies - Description Character Limit"
Issue:  If a user enters more than 255 characters in the Detailed Description box and tries to submit, the  progress bar will continuously spin without ever adding the point.

Resolution:  Please add a function to stop the user from entering characters after they get to 255 OR add a warning message when they try to submit a discrepancy with too many detail characters.

[2014-08-29 01:42] BC89 commented on #110
Yes it’s possible.

From: Joe Murk [mailto:notifications@github.com]
Sent: Thursday, August 28, 2014 2:19 PM
To: JMurk/Utility_Viewer_Issues
Subject: [Utility_Viewer_Issues] Utility Viewer - C.A. Request - Display Measurement Dynamically (#110)

Is it possible to dynamically display the measurement of a line as the user is drawing it? In other words, as the user is drawing the results are constant

[2014-09-02 16:44] JMurk opened #115 "Utility Viewer - Deleting Extents - Typo"
Please fix the following typo on the delete extent prompt.

![image](https://cloud.githubusercontent.com/assets/5805454/4122022/5aacc9b0-32c0-11e4-9de7-4e4998b3f8bf.png)

it should read "You are" not "Your are"

[2014-09-03 02:52] kanglu666 commented on #115
updated at city dev, please test

[2014-09-03 02:53] kanglu666 commented on #114
done at city dev, please test

[2014-09-03 02:54] kanglu666 commented on #113
fields have been added into database.
how you want to layout these fields in the plan information form in Utility Viewer

[2014-09-03 02:55] kanglu666 commented on #111
fixed, please test at city dev

[2014-09-03 02:55] kanglu666 commented on #109
fixed

[2014-09-03 02:56] kanglu666 commented on #108
new fields have been added into database, how you want to layout these fields in the form of the UV

[2014-09-03 02:58] kanglu666 commented on #107
plan status field has been added into database, existing plan has the new drop down now, i will make the same updates in valve plan and trace plan

[2014-09-03 02:58] kanglu666 commented on #104
fixed at city dev, please test

[2014-09-03 02:59] kanglu666 commented on #99
fixed at city dev, please test

[2014-09-03 15:03] JMurk commented on #115
Confirmed complete on Dev.  Ready for Prod.

[2014-09-03 15:06] JMurk opened #116 "Utility Viewer - Saving Extents - Message Typo/Change"
Please change the following confirmation message

![image](https://cloud.githubusercontent.com/assets/5805454/4136112/d59f105e-337b-11e4-942f-0da69932c5aa.png)

to read:

"The current extent has been saved successfully!"

[2014-09-03 15:23] JMurk opened #117 "Utility Viewer - Deleting Extents - Message Typo/Changes"
Please change the following message
![image](https://cloud.githubusercontent.com/assets/5805454/4136144/2614cbc8-337c-11e4-8bdc-31025bc6b9b8.png)

to read:
"The selected extent has been deleted successfully"

Also, change the following message
![image](https://cloud.githubusercontent.com/assets/5805454/4136396/17ec1040-337e-11e4-8781-9fa69849e162.png)

to read:
"You are not authorized to delete th

[2014-09-03 16:03] JMurk commented on #114
Please update the message to read:  "You have exceeded the maximum amount of allowable characters in your description.  Please limit to less than 256."

[2014-09-03 16:34] JMurk commented on #113
![image](https://cloud.githubusercontent.com/assets/5805454/4137537/0d2afec8-3388-11e4-9d5e-e3da59dde394.png)

Keep the window the same size, but add vertical scrolling to view additional fields.

[2014-09-03 16:41] JMurk commented on #111
Confirmed complete of Dev. Ready for Production.

[2014-09-03 16:46] JMurk commented on #109
Confirmed complete on Dev.  Ready for production.

[2014-09-03 16:47] JMurk commented on #108
Add above Survey Date (see that issue) and display only when status = "Cancelled"

[2014-09-03 16:48] JMurk commented on #110
Lu, please develop as a LOW PRIORITY item.

[2014-09-03 17:39] JMurk commented on #103
Completed in dev and production.

[2014-09-03 17:39] #103 closed, assigned to JMurk

[2014-09-03 18:19] JMurk commented on #99
Confirmed complete on dev.  Ready for Prod.

[2014-09-03 18:59] alanfoster99 commented on #104
Have cleared cache, reloaded -- problem persists on dev.

[2014-09-04 12:21] JMurk opened #118 "Utility Viewer - Network Trace - Update Call"
Please update per Gerry's instructions:

"for calling the network trace (prod, dev 10 & 10.2), wherever there is a parameter or SOE property value like below …
FEAT_STATUS = 'ACT' AND VALVE_USE IN  (12,2,9,5)

Please change it to:
FEAT_STATUS in('ACT', ‘PAB’, ‘PRM’, ‘PRP’, ’PUP’, ‘PCL’) AND VALVE_USE IN (12,2,9,5)

[2014-09-08 15:23] alanfoster99 commented on #105
This has become high priority -- please address.

[2014-09-10 22:51] kanglu666 commented on #117
done for both dev and prod, please test

[2014-09-10 22:51] kanglu666 commented on #116
updated for both dev and prod

[2014-09-10 22:52] kanglu666 commented on #115
ready for testing in prod

[2014-09-10 22:53] kanglu666 commented on #114
done for both dev and prod, please test

[2014-09-10 22:57] kanglu666 commented on #111
ready for testing in prod

[2014-09-10 22:57] kanglu666 commented on #109
ready for testing in prod

[2014-09-10 22:59] kanglu666 commented on #104
fixed for both dev and prod, please test

[2014-09-10 23:01] kanglu666 commented on #99
ready for testing in prod

[2014-09-11 16:32] alanfoster99 commented on #104
Confirmed and closed

[2014-09-11 16:32] #104 closed, assigned to alanfoster99

[2014-09-12 19:09] alanfoster99 opened #119 "Utility Viewer - Deselect Mains - C. A. Request"
When selecting mains for valve shutdown plan, there is currently no way to deselect a main.  Please add this functionality.

Either create a new tool with button to do this, or allow <CTRL>+<CLICK> to deselect

[2014-09-16 19:16] JMurk opened #120 "Utility Viewer - Mobile - Add Plats and Orthos"
Please add Orthos and Water Plat feeds to the mobile Utility Viewer.  The should be off by default.

[2014-09-18 20:09] JMurk commented on #117
Confirmed complete for both.

[2014-09-18 20:09] #117 closed, assigned to JMurk

[2014-09-18 20:10] JMurk commented on #116
Confirmed complete.

[2014-09-18 20:10] #116 closed, assigned to JMurk

[2014-09-18 20:11] JMurk commented on #115
Confirmed complete.

[2014-09-18 20:11] #115 closed, assigned to JMurk

[2014-09-18 20:12] JMurk commented on #114
Confirmed complete.

[2014-09-18 20:12] #114 closed, assigned to JMurk

[2014-09-18 20:13] JMurk commented on #111
Confirmed complete.

[2014-09-18 20:13] #111 closed, assigned to JMurk

[2014-09-18 20:14] JMurk commented on #109
Confirmed complete.

[2014-09-18 20:14] #109 closed, assigned to JMurk

[2014-09-18 20:14] JMurk commented on #99
Confirmed complete.

[2014-09-18 20:14] #99 closed, assigned to JMurk

[2014-09-18 20:20] JMurk opened #121 "Utility Viewer - C.A. Request - Editable Execute Date"
Please make the "When to be Executed" date editable for existing plans.

![image](https://cloud.githubusercontent.com/assets/5805454/4326612/2b73b736-3f71-11e4-9657-0b7a05ce086c.png)

[2014-09-18 20:25] JMurk opened #122 "Utility Viewer - Valve Status - Add Access & Problem Dropdowns"
Please make Valve Access and Valve Problem editable with a dropdown only.  The dropdowns should use the following code AND Description values:

![image](https://cloud.githubusercontent.com/assets/5805454/4326683/e2f1fc1a-3f71-11e4-86c0-1205b0d19e3d.png)

![image](https://cloud.githubusercontent.com/assets/5805454/4326633/6fced208-3f71-11e4-9c7a-8bf3480d83f2.png)

[2014-09-19 14:27] JMurk commented on #100
Lu please update so 'All Users' is selectable in the drop down.

[2014-09-19 14:31] JMurk opened #123 "Utility Viewer - Discrepancies - Attaching Photos/Documents"
Please add the ability to attach photos and other files to discrepancy points.

[2014-09-19 14:38] JMurk commented on #88
Please provide and answer to the question above.

[2014-09-19 14:50] JMurk opened #124 "Utility Viewer - Invalid Features - Add Flag on Existing Plan Screen"
On the Find Existing Plan window, add a column on the right with no title.  In this column, display a red ! for plans that have invalid features.
![image](https://cloud.githubusercontent.com/assets/5805454/4337076/11db3650-400c-11e4-967b-bd8611f97ad8.png)

If any of the following fields = "Y" in PLANNED_SHUTDOWNS the ! should display. HasInvalidValves, HasInvalidHydrants, HasInvalidMains, HasInval

[2014-09-19 14:56] JMurk opened #125 "Utility Viewer - Invalid Features - Add Warning Message"
When a user opens an existing plan with invalid VALVES or MAINS, display a message that reads:

"WARNING:  The selected plan contains invalid features.  For an accurate shutdown plan, please re-trace."

When the plan has invalid meters or hydrants, no message is required.

[2014-09-19 15:10] JMurk commented on #124
Please use the HasInvalidElement field as Gerry pointed out.

[2014-09-19 15:23] JMurk opened #126 "Utility Viewer - Invalid Features - Highlight in List"
When Invalid features are present, they should be shown in the list of features in red font.  You can derive this info from
V_PLAN_MAINS_NOT_IN_WA_MAINS, V_PLAN_HYDRANTS_NOT_IN_WA_HYDRANT,
V_PLAN_METERS_NOT_IN_WA_METER

![image](https://cloud.githubusercontent.com/assets/5805454/4337577/d74bfd80-4010-11e4-916b-029491936332.png)

Also, if possible, add a string of text along the top that reads "The

[2014-09-19 19:27] JMurk opened #127 "Utility Viewer - Mobile - Discrepancy Dropdowns Not Working"
**Issue:** When adding a discrepancy in the UV mobile, the dropdown input boxes do not work (they don't present the list of valid values)

![image](https://cloud.githubusercontent.com/assets/5805454/4340883/fa79b974-4032-11e4-87fe-2dfb3989d271.png)

**Resolution:** Please investigate and resolve accordingly.

[2014-09-19 23:42] kanglu666 commented on #127
fixed, please test

[2014-09-20 01:07] kanglu666 commented on #122
both fields have been applied with domains code and value.
please test city dev

[2014-09-20 01:09] kanglu666 commented on #118
dev 10.2 trace service does not need to update.
prod 10.0 does need to update this.
once next push to prod, i will update this.

[2014-09-20 01:31] kanglu666 commented on #106
"Complted" status has been added into the plan shut down form.
also check date function has been updated

[2014-09-20 01:33] kanglu666 commented on #107
updated, ready for testing at dev

[2014-09-20 01:33] kanglu666 commented on #121
updated

[2014-09-20 01:35] kanglu666 commented on #112
plan type "Survey Only"has been added to the existing plan form

[2014-09-20 01:44] kanglu666 commented on #120
Orthos and Water Plat have been added into the prod UV mobile

[2014-09-20 02:20] kanglu666 commented on #105
export Leak Survey data to CSV function has been done in prod Utility Viewer, please test

[2014-09-20 14:32] JMurk commented on #127
Confirmed in prod, please update on dev as well.

[2014-09-20 14:36] JMurk commented on #122
Please change "SPIN FREE"  to "SPINS FREE"  then you may push to prod.
![image](https://cloud.githubusercontent.com/assets/5805454/4345532/74616caa-40d3-11e4-879b-e02149328d9a.png)

[2014-09-20 14:39] JMurk commented on #121
Confirmed complete on dev, ready for push to prod.

[2014-09-20 14:40] JMurk commented on #120
Confirmed complete.

[2014-09-20 14:40] #120 closed, assigned to JMurk

[2014-09-20 14:42] JMurk commented on #112
Please add this to the list for new plans as well.

[2014-09-20 14:43] JMurk commented on #107
Confirmed complete on dev, ready for push to prod.

[2014-09-20 14:45] JMurk commented on #106
Confirmed complete on dev, ready for push to prod.

[2014-09-20 14:47] JMurk commented on #83
Per Amy's response, can we exclude features that are not visible due to scale dependency?  This should only occur for the identify tool.

[2014-09-20 14:49] JMurk commented on #118
Ok, please assign back to me when push has been completed.

[2014-09-20 14:53] JMurk commented on #82
This is being handled as a separate project.  Closing individual issue.

[2014-09-20 14:53] #82 closed, assigned to alanfoster99

[2014-09-20 14:55] JMurk commented on #72
Alan - let me know when we determine the requirements for this.

[2014-09-20 14:55] JMurk commented on #70
Closing this for now.

[2014-09-20 14:55] #70 closed, assigned to JMurk

[2014-09-20 14:58] JMurk commented on #105
Need to make sure that this is implemented in Dev as well.  10.2 dev will soon become production and needs to match all functionality.

[2014-09-20 15:02] amanda-oshea commented on #105
Your killing me with the emails

Sent from my Verizon Wireless 4G LTE smartphone

-------- Original message --------
From: Joe Murk
Date:09/20/2014 9:58 AM (GMT-06:00)
To: JMurk/Utility_Viewer_Issues
Subject: Re: [Utility_Viewer_Issues] Utility Viewer - Export Leak Surveys to CSV (#105)

Need to make sure that this is implemented in Dev as well. 10.2 dev will soon become production and needs to ma

[2014-09-22 12:45] alanfoster99 commented on #105
Confirmed in Prod.  Not working in Dev -- please implement.

[2014-09-22 20:45] kanglu666 commented on #105
Export Leaks to CSV is working in city dev now.

[2014-09-23 14:16] kanglu666 commented on #127
updated on both dev and prod.

[2014-09-29 15:07] kanglu666 commented on #95
"When to be Executed" field has add time function now. please test in dev

[2014-09-29 15:08] kanglu666 commented on #96
"When to be Completed" filed has been added in the existing plan form with including all the requirements above, please test in city dev

[2014-09-29 19:18] JMurk commented on #127
Confirmed complete.

[2014-09-29 19:18] #127 closed, assigned to JMurk

[2014-09-29 19:21] JMurk commented on #96
Confirmed complete on dev, ready for push to prod.

[2014-09-29 19:27] JMurk commented on #95
If possible, please format the time picker in am/pm.  If not, remove the seconds picker.

[2014-10-02 18:11] alanfoster99 commented on #105
Confirmed and closing

[2014-10-02 18:11] #105 closed, assigned to alanfoster99

[2014-10-06 01:14] kanglu666 commented on #96
updated in PROD, ready for testing

[2014-10-06 01:18] kanglu666 commented on #122
updated in PROD, ready for testing

[2014-10-06 01:19] kanglu666 commented on #121
updated in PROD, ready for testing

[2014-10-06 01:21] kanglu666 commented on #107
updated in PROD ready for testing

[2014-10-06 01:22] kanglu666 commented on #106
updated in PROD ready for testing

[2014-10-06 01:35] kanglu666 commented on #118
trace service has been updated at city PROD, ready for testing

[2014-10-06 01:37] kanglu666 commented on #95
time picker has been added for the "When to be executed" field in PROD.
I will double check if we can change the time format or can remove the seconds picker.

[2014-10-06 01:40] kanglu666 commented on #101
updated, ready for testing

[2014-10-06 14:21] DaveThomKCI opened #128 "Unable to save Main Shutdown Plans - "date error""
Please look into this issue ASAP.  We are unable to save shutdown plans.  A popup window of date error comes up when we try. (Date and time are being filled out)

[2014-10-06 14:33] JMurk commented on #122
Confirmed complete.

[2014-10-06 14:33] #122 closed, assigned to JMurk

[2014-10-06 14:33] kanglu666 commented on #128
working fine at my side. Please give me a screen shot and some details.

[2014-10-06 14:34] JMurk commented on #121
Confirmed complete.

[2014-10-06 14:34] #121 closed, assigned to JMurk

[2014-10-06 14:35] JMurk commented on #118
Complete.

[2014-10-06 14:35] #118 closed, assigned to JMurk

[2014-10-06 14:36] JMurk commented on #107
Confirmed complete.

[2014-10-06 14:36] #107 closed, assigned to JMurk

[2014-10-06 14:37] kanglu666 commented on #128
the only one situation you will get the Date Error is:
when you have when to reversion date and the reverse date < when to executed date. that 's not allowed

[2014-10-06 14:45] JMurk commented on #106
When trying to save this plan, I get the following error:

![image](https://cloud.githubusercontent.com/assets/5805454/4527456/62f4985c-4d67-11e4-8e0d-fd5b2b535b60.png)

[2014-10-06 14:50] JMurk commented on #95
Please add the time function to "When to Reverse Operations" Field.

[2014-10-06 14:50] kanglu666 commented on #106
working on my side.
Please clear browser cache before testing

[2014-10-06 14:51] JMurk commented on #128
Per Alan:
I think it's being caused when the reverse date is the same as the shutdown date
shutdown 10/7/14 @ 10:00
reverse 10/7/14
think it reads the reverse as 10/7/14 00:00

See issue #95 ... that should resolve this issue.

[2014-10-06 14:59] JMurk commented on #106
Enter the following values into the plan information, then attempt to save.  The error then pops up

![image](https://cloud.githubusercontent.com/assets/5805454/4527676/009e7400-4d69-11e4-9aba-d22ccf407d3c.png)

[2014-10-06 15:05] JMurk commented on #96
Confirmed complete.

[2014-10-06 15:05] #96 closed, assigned to JMurk

[2014-10-06 15:12] JMurk commented on #106
Complete.

[2014-10-06 15:12] #106 closed, assigned to kanglu666

[2014-10-06 15:16] JMurk commented on #101
Confirmed complete.

[2014-10-06 15:16] #101 closed, assigned to JMurk

[2014-10-06 16:53] kanglu666 commented on #128
time picker has been added in the "reserse date" field, please test in dev

[2014-10-06 16:54] kanglu666 commented on #95
time picker has been added into "When to Reverse Operations" Field, please test in city dev

[2014-10-08 15:53] DaveThomKCI opened #129 "Error when performing trace analysis"
At times, the following error is given when trying to perform a trace analysis with the main shutdown tool.

"Tracing web service error occurred with current selected Mains, please report this problem to admin!"

Specifically, Charlie Adcock is trying to perform a trace on the 7 mains in the area of 6700 Holabird Ave as shown in the picture below:

![6700holabird](https://cloud.githubusercontent.c

[2014-10-08 18:26] JMurk commented on #129
Gerry has determined that there is an issue with the process for long mains.  He is adjusting the code now.

[2014-10-09 15:21] DaveThomKCI opened #130 "Turn on fields in Active Sewer Mains"
Please turn on the following fields in the Active Sewer Mains

FROM_MANHOLE_ID
TO_MANHOLE_ID

Thank you.
-DT

[2014-10-09 16:58] JMurk commented on #130
Updated in both dev & prod.  Please test and confirm both.

[2014-10-09 17:05] JMurk commented on #128
Confirmed complete on dev, push to prod.

[2014-10-09 17:37] DaveThomKCI commented on #130
Tested.  Looks good.  Thanks.

[2014-10-09 17:37] #130 closed, assigned to DaveThomKCI

[2014-10-10 12:34] JMurk opened #131 "Utility Viewer - Mobile - Add CSR Feeds"
Please add the three CSR feeds to the Utility Viewer Mobile App.

[2014-10-10 19:05] DaveThomKCI opened #132 "Valve condition layer needed in UView"
User states valve condition layer was in UView but now is not.  I've searched around and it seems like what he is referring to is the layer called "Valve Condition" in the Water Operations group which is not available in the UView view.  I suggest we either add Water Operations group to UView or give more users access to WAView.

Specifically, if we are just adding users to WAView, please add raye

[2014-10-11 00:27] kanglu666 commented on #128
updated at PROD, please test

[2014-10-11 00:40] kanglu666 commented on #131
CSR feeds have been added into UV mobile.

[2014-10-15 13:03] JMurk commented on #131
Confirmed complete in prod and dev.

[2014-10-15 13:03] #131 closed, assigned to JMurk

[2014-10-15 13:07] JMurk commented on #129
Lu says the issue has now been resolved.  I traced in that area and it worked.  Please test, confirm and close the issue.

[2014-10-15 13:09] JMurk commented on #132
Both users have been added to WAView.

[2014-10-15 13:20] JMurk opened #133 "Utility Viewer - Shutdown Plans - Actual Start & Date Completed Format"
Please update the Actual Start Date and Date Completed to the Date & Time format.

![image](https://cloud.githubusercontent.com/assets/5805454/4645872/12502a16-546e-11e4-82eb-2038d24bdb20.png)

[2014-10-15 13:22] JMurk commented on #128
Dave, please confirm and close.

[2014-10-15 13:25] #129 closed, assigned to DaveThomKCI

[2014-10-15 13:56] #95 closed, assigned to JMurk

[2014-10-15 13:57] JMurk opened #134 "Utility Viewer - Time Picker Change"
Please change the format of the time picker from 24-hours, minutes, and seconds to 12-hours, minutes with AM/PM.  Example:  10:35 AM

[2014-10-16 17:07] alanfoster99 opened #135 "Utility Viewer - Update Status - New Valve"
For valves without an existing status in history, updates cannot be made within Utility Viewer.  Please correct this issue to allow this.

[2014-10-16 17:26] JMurk opened #136 "Utility Viewer - Change Hydrant & Valve Symbology - Proposed Feature"
Update the symbology for proposed hydrants and valves to match the mains.

Coordinate for a code update.

[2014-10-16 18:09] rssidlowski opened #137 "Utility Viewer - Main Shutdown Plan Evaluation - Created by Auto Populating"
On creation of a new Main Shutdown Plan the 'Created by' field should be autopopulated with the current user's name.  This is not happening.
![missingcreatedby](https://cloud.githubusercontent.com/assets/5039052/4667481/6a61a6fe-555d-11e4-8544-e04756bafa0c.GIF)

[2014-10-16 18:20] rssidlowski opened #138 "Utility Viewer: Trace/retrace error"
When performing a trace analysis, get the error below.  Tried with several different mains.
![traceerror](https://cloud.githubusercontent.com/assets/5039052/4667904/fcd20314-5560-11e4-8f38-1aa569f5dacf.GIF)

Tried to do a retrace after an earlier successful trace and get the error below:
![retraceerror](https://cloud.githubusercontent.com/assets/5039052/4667914/0e91eb00-5561-11e4-98ac-774442e03e2f

[2014-10-17 16:32] JMurk commented on #138
Per Gerry, this is a known dev issue.  Closing.

[2014-10-17 16:32] #138 closed, assigned to JMurk

[2014-10-27 20:54] kanglu666 commented on #137
working for me.

[2014-10-29 15:55] JMurk commented on #112
This has become high priority, please address ASAP.

[2014-10-29 16:16] kanglu666 commented on #112
updated, please test

[2014-10-29 17:26] JMurk commented on #112
Confirmed complete.

[2014-10-29 17:26] #112 closed, assigned to JMurk

[2014-11-17 00:30] JMurk opened #139 "Utility Viewer Mobile - Discrepancies - REPORTED_BY Not Popualting"
**Issue**:  When creating a discrepancy from a mobile application, the REPORTED_BY field is not auto-populated.

**Resolution**:  Please update so that it is auto-populated with the user's login name.

[2014-11-17 00:32] JMurk opened #140 "Utility Viewer - Discrepancies - Date Logged Off"
**Issue**: The date/time that is autopopulated in the Date Logged field is off by a few hours.

**Resolution**: I suspect the server is set to GMT.  If that is indeed the case, please update to eastern standard time.

[2014-11-17 01:01] kanglu666 commented on #140
trigger updated, it's using the right date time, please test

[2014-11-18 16:52] JMurk opened #141 "Utility Viewer - Discrepancies - Add Notification"
Please add a notification that reads:

"You have exceeded the maximum amount of allowable character in your source.  Please limit to less than 50."

when the user enters too many characters in the source field.

[2014-11-19 18:24] kanglu666 commented on #139
it's working fine

[2014-11-21 13:34] JMurk commented on #140
Confirmed complete.

[2014-11-21 13:34] #140 closed, assigned to JMurk

[2014-11-21 13:35] JMurk commented on #139
Nope.  Not working from mobile UV.

![image](https://cloud.githubusercontent.com/assets/5805454/5143045/5ad1c33c-7159-11e4-9417-65caa349c80d.png)

[2014-11-21 20:16] kanglu666 commented on #139
should be fixed, please test

[2014-12-03 15:42] DaveThomKCI opened #142 "Utility Viewer - Issues Changing User's Default View"
Please change the default view for Diego.Calderon to be WWView

[2014-12-03 19:54] DaveThomKCI commented on #142
We have tried to change this view several times in different environments and it still fails.  Tried with Firefox, Chrome, and Chrome incognito.  The save function did work for me.

[2014-12-03 19:57] alanfoster99 commented on #142
See if he is allowed to right cookies, or if he is accepting them, or if there is a temp folder that his user has permissions for; seems more like a browser issue to me.

[2014-12-09 16:48] JMurk opened #143 "Utility Viewer - Add Water Features - Zoom In Message Typos"
**Issue:**  There are a few typos in the following warning message.

![image](https://cloud.githubusercontent.com/assets/5805454/5361241/06253966-7f98-11e4-834b-96a5e1cd460f.png)

**Resolution:** Please make sure the message reads:

"Warning: Cannot create point.  Please zoom into a scale larger than 1:100 and try again."

[2014-12-09 17:10] JMurk opened #144 "Utility Viewer - Add Water Features - Hydrants Snapping"
**Issue:**  When Attempting to add a new hydrant feature, the system checks to see if the user's click is within a short distance of a main.  This should not occur for hydrants as the connector main segment  likely does not exist.

**Resolution:** Please remove this check for Hydrants.

[2014-12-09 17:12] JMurk commented on #142
Has this issue been resolved on the user's side?  If so, what was the issue?

[2014-12-09 17:22] JMurk commented on #132
This has been completed and is being closed.

[2014-12-09 17:22] #132 closed, assigned to DaveThomKCI

[2014-12-09 17:34] JMurk commented on #137
Appears to be fine, closing.

[2014-12-09 17:34] #137 closed, assigned to rssidlowski

[2014-12-09 17:39] JMurk commented on #128
Closing

[2014-12-09 17:39] #128 closed, assigned to DaveThomKCI

[2014-12-09 18:31] JMurk opened #145 "Utility Viewer - Add Water Features - Valve Missing Fields"
**Issue:** There are a few fields that are missing from the Valve attributes form when adding a new valve.

![image](https://cloud.githubusercontent.com/assets/5805454/5363156/9d5718b8-7fa7-11e4-9c15-77e5f83af268.png)

**Resolution:** Please add the following fields:
1. MANUF_CD (Manufacturer), domained dropdown, place after valve use
2. DATE_OPERATED (Date Operated), date/time calendar control, p

[2014-12-09 18:38] JMurk opened #146 "Utility Viewer - Add Water Features - Incorrect Attribute Label"
**Issue:**  On the Hydrant attribute form, the first field is labeled "Valve Use"  (was a carry over from the valve form).

![image](https://cloud.githubusercontent.com/assets/5805454/5363264/93c43b04-7fa8-11e4-968f-8e6aa781d6e9.png)

**Resolution:** Please update the label to read "Manufacturer"

[2014-12-09 19:06] JMurk opened #147 "Utility Viewer - Add Water Features - Hydrant Missing Fields"
**Issue:** There are a few fields that are missing from the Hydrant attributes form when adding a new Hydrant feature.

![image](https://cloud.githubusercontent.com/assets/5805454/5363835/fe8c044a-7fac-11e4-9a0e-e4e3fd0c710d.png)

**Resolution:** Please add the following fields:
1. RESP_AGENCY (Responsible Agency), domained dropdown, place after Lock Model
2. FAB_DATE (Fabrication Date), date cale

[2014-12-09 19:22] JMurk opened #148 "Utility Viewer - Add Water Features - Autopopulate Fields (Basic)"
**Issue:**  A few fields identified to be auto-populated are not doing so.

**Resolution:**  Please set the following fields to be auto-populated for both Hydrants and Valves with the corresponding values:
1. EDIT_DATE - current date
2. BFD_FIELDCHECK_DATE - current date
3. BFD_FIELDCHECK_STATUS - 2

[2014-12-10 15:36] DaveThomKCI commented on #142
The save box is still not working. We tried saving the WWView as the default view in firefox, chrome, and IE and it did not work.  We also cleared the cache and cookies in firefox, but that was not useful either.

We also tried the process, with his log in, on my machine (incognito chrome).  Still no luck.  In the exact same environment, I logged in, saved, and it worked.

[2014-12-16 15:22] jday3 commented on #92
Done, on dev. Any layer that is visible on the map is queried and clicking on a result will show all of the attributes of that particular feature in a separate window

[2014-12-18 19:48] JMurk commented on #92
I like it.  Can will remove results from the BaseMap, Plats and Orthos layer?  Also, the "X" close button on the results window doesn't seem to be working.

[2014-12-22 15:29] JMurk commented on #139
Confirmed complete.

[2014-12-22 15:29] #139 closed, assigned to JMurk

[2014-12-22 15:35] JMurk commented on #136
Complete.

[2014-12-22 15:35] #136 closed, assigned to JMurk

[2014-12-29 14:04] JMurk opened #149 "Utility Viewer - DOT Snow - Typo"
**Issue:**  There is a typo in the feed name for DOT Snow.  It says "Show" instead of "Snow".  This is in dev only.

![image](https://cloud.githubusercontent.com/assets/5805454/5569176/bd5c915a-8f39-11e4-83a5-c3247aafd018.png)

[2014-12-30 17:33] jday3 commented on #92
I removed those 3 layers from results and fixed the close button, on dev

[2014-12-30 17:43] jday3 commented on #149
done

[2014-12-30 18:22] JMurk commented on #149
Confirmed complete.

[2014-12-30 18:22] #149 closed, assigned to JMurk

[2014-12-30 18:23] JMurk commented on #92
Confirmed complete.  Please push to prod.

[2015-01-02 16:10] jday3 commented on #92
Done

[2015-01-02 17:04] JMurk commented on #92
Confirmed complete.

[2015-01-02 17:04] #92 closed, assigned to JMurk

[2015-01-02 19:23] jday3 commented on #143
Done, on dev

[2015-01-02 19:24] jday3 commented on #144
Done, on dev

[2015-01-02 19:24] jday3 commented on #145
Done, on dev

[2015-01-02 19:24] jday3 commented on #146
Done, on dev

[2015-01-02 19:24] jday3 commented on #147
Done, on dev

[2015-01-02 19:25] jday3 commented on #148
Done, on dev

[2015-01-05 19:05] jday3 commented on #100
Instead of adding it to the dropdown, I added a button to the right of each dropdown that says 'All', which clears the value. This is on dev

[2015-01-05 19:15] jday3 commented on #141
Done, on dev

[2015-01-05 19:25] jday3 commented on #133
Done, on dev

[2015-01-05 21:38] jday3 commented on #124
Done, on dev

[2015-01-05 21:48] jday3 commented on #125
Done, on dev

[2015-01-06 16:24] jday3 commented on #126
I don't think the invalid features are being returned and displayed in the grids.

[2015-01-06 17:25] jday3 commented on #113
Done, on dev.

[2015-01-06 20:30] jday3 commented on #108
Done, on dev

[2015-01-06 22:51] jday3 commented on #119
Now, when selecting mains, there is a list of selected mains that allows you to deselect them. This is on dev

[2015-01-07 14:05] jday3 commented on #87
Yeah, have control over the html/css output. It would be useful to have a mockup of how it should look ideally.

[2015-01-07 21:49] jday3 commented on #135
You can now update the status of a valve with no status history. This is in dev. When you select the valve in the valve status window and it has no history, it will alert you that no status history exists, but you can then make the first status update. Here are some Valve Ids of valves that have no status records for you to search on (in dev):

WY26___071094V
WY26___071093V
WY26___071092V
WY26___0

[2015-01-07 22:02] jday3 commented on #71
Related to [this issue](https://github.com/JMurk/Application_Portal_Admin/issues/6)

[2015-01-08 15:49] JMurk commented on #141
The length has been updated to 255 on dev.  Please also include the message, but change 50 to 255 in the message text.

[2015-01-08 16:21] JMurk commented on #148
Confirmed complete on dev.  Closing now since function not in prod yet.

[2015-01-08 16:21] #148 closed, assigned to JMurk

[2015-01-08 16:24] JMurk commented on #147
Confirmed complete on dev.  Closing now since function not in prod yet.

[2015-01-08 16:24] #147 closed, assigned to JMurk

[2015-01-08 16:25] JMurk commented on #146
Confirmed complete on dev.  Closing now since function not in prod yet.

[2015-01-08 16:25] #146 closed, assigned to JMurk

[2015-01-08 16:25] JMurk commented on #145
Confirmed complete on dev.  Closing now since function not in prod yet.

[2015-01-08 16:25] #145 closed, assigned to JMurk

[2015-01-08 16:26] JMurk commented on #144
Confirmed complete on dev.  Closing now since function not in prod yet.

[2015-01-08 16:26] #144 closed, assigned to JMurk

[2015-01-08 16:26] JMurk commented on #143
Confirmed complete on dev.  Closing now since function not in prod yet.

[2015-01-08 16:26] #143 closed, assigned to JMurk

[2015-01-08 16:38] JMurk commented on #133
Confirmed complete, please push to prod.

[2015-01-08 16:41] JMurk commented on #125
Confirmed complete on dev. Please push to prod.

[2015-01-08 16:43] JMurk commented on #124
Confirmed complete on dev, please push to prod.

[2015-01-08 16:44] JMurk commented on #113
Confirmed complete on dev, please push to prod.

[2015-01-08 16:46] JMurk commented on #108
Confirmed complete on dev, please push to prod.

[2015-01-08 16:47] JMurk commented on #100
Confirmed complete on dev, please push to prod.

[2015-01-08 16:49] JMurk commented on #71
Closing.

[2015-01-08 16:49] #71 closed, assigned to JMurk

[2015-01-08 17:11] JMurk commented on #87
Here is a very quick mock-up.  Does this help?

![image](https://cloud.githubusercontent.com/assets/5805454/5666695/81b45e5a-972f-11e4-8d8b-381e017a1d3e.png)

[2015-01-08 18:30] jday3 commented on #141
Done, on dev

[2015-01-08 18:31] jday3 commented on #87
Yeah that helps

[2015-01-08 18:46] jday3 commented on #133
Done

[2015-01-08 18:51] jday3 commented on #113
Done

[2015-01-08 18:54] jday3 commented on #108
Done

[2015-01-08 18:54] jday3 commented on #100
Done

[2015-01-12 14:20] alanfoster99 commented on #119
Looks like it works well, but it exposes an issue:

If the user closes the "Perform Trace" window by clicking the X in the upper right corner, the winder is permanently gone and the page must by reloaded.  Please investigate.

[2015-01-12 14:39] jday3 commented on #119
What I am seeing is a little different - when I close the window, I have to click the toolbar icon again and do a select on the map and the window then opens again. This is the same on production

[2015-01-12 14:51] alanfoster99 commented on #119
However, if you deselect mains using this workflow, then try to select additional (previously unselected) mains, the window does not pop up.

[2015-01-12 15:14] JMurk commented on #141
I had a typo above that made it's way to the message.  Please change "character" to "characters" and push to prod.  The field length is updated there.

![image](https://cloud.githubusercontent.com/assets/5805454/5704966/c90c5ce6-9a43-11e4-9d73-f19c55743e78.png)

[2015-01-12 18:41] JMurk commented on #133
Confirmed complete.

[2015-01-12 18:41] #133 closed, assigned to JMurk

[2015-01-12 18:44] JMurk commented on #113
Confirmed complete.

[2015-01-12 18:44] #113 closed, assigned to JMurk

[2015-01-12 18:56] JMurk commented on #108
Confirmed complete.

[2015-01-12 18:56] #108 closed, assigned to JMurk

[2015-01-12 18:57] JMurk commented on #100
Confirmed complete.

[2015-01-12 18:57] #100 closed, assigned to JMurk

[2015-01-13 14:36] JMurk opened #150 "Utility Viewer - User Guides - Links Broken"
**Issue:**  The links in the Information toolbar to the User Guides are broken.  I believe this is because they were stored on dpw-gw03-srv, which has been decommissioned.

**Resolution:**  Can you point to the user guides stored here: \dpw-gis102-prd\web_data\User Guides

[2015-01-14 13:18] jday3 commented on #124
now on prod

[2015-01-14 13:18] jday3 commented on #125
now on prod

[2015-01-14 13:22] jday3 commented on #141
fixed

[2015-01-14 13:38] jday3 commented on #150
There isn't an IIS entry pointing to that folder so for now I'm just pointing to the user guides in the portal application.

[2015-01-14 15:08] jday3 commented on #119
This should be fixed now - on dev

[2015-01-14 15:35] JMurk opened #151 "Utility Viewer - Printing - 404 Error"
**Issue:**  All print templates are throwing a 404 error when trying to launch them.  Maybe they were still pointing to dpw-gw-03?

**Resolution:**  Please investigate and resolve ASAP.

[2015-01-14 15:36] JMurk commented on #150
OK, they are loading fine, so that works.  Closing.

[2015-01-14 15:36] #150 closed, assigned to JMurk

[2015-01-14 15:39] JMurk commented on #141
Now the dropdowns are not working...

![image](https://cloud.githubusercontent.com/assets/5805454/5741524/89a2c0d0-9bd9-11e4-9a89-cbebff206f60.png)

[2015-01-14 16:13] JMurk commented on #151
Ian confirmed completion.

[2015-01-14 16:13] #151 closed, assigned to jday3

[2015-01-14 16:14] JMurk commented on #126
Ok, that's fine, I think the flag on the first page will suffice.

[2015-01-14 16:14] #126 closed, assigned to JMurk

[2015-01-14 16:15] JMurk commented on #124
Confirmed complete.

[2015-01-14 16:15] #124 closed, assigned to JMurk

[2015-01-14 16:32] jday3 commented on #87
Done on dev.

[2015-01-14 16:44] jday3 commented on #141
The api is using the old discrepancy domain tables. Will update

[2015-01-14 16:50] jday3 commented on #141
Fixed - and now the source check/text should be on production also

[2015-01-14 16:51] jday3 commented on #87
I threw it on production as well since it wont break anything. Let me know if there are any adjustments you think I should make - it is pretty simple to update

[2015-01-14 16:55] DaveThomKCI opened #152 "Utility Viewer - Main Trace tool not working"
Main trace/main shutdown tool not working.  Tried in incognito and different machines/different logins

[2015-01-14 17:14] JMurk commented on #152
The tool is not allowing users to select features at all.

[2015-01-14 18:52] jday3 commented on #152
Fixed

[2015-01-14 20:51] alanfoster99 commented on #119
Looks good -- only one last thing:

Please change the popup to read "Remove Main" instead of "Remove Valve"

[2015-01-14 21:02] alanfoster99 commented on #135
Seems to work, but won't accept inspection results unless I populate the exercise tab -- even if I put in "Not Exercised" I have to populate the rest w/ 0's.  Is this default?

[2015-01-16 13:11] jday3 commented on #119
Done. I also added a button to remove all mains because it seemed useful. If you're satisfied, I can push it to production.

[2015-01-16 15:48] JMurk commented on #152
Confirmed complete.

[2015-01-16 15:48] #152 closed, assigned to JMurk

[2015-01-16 15:49] JMurk commented on #141
Confirmed complete.

[2015-01-16 15:49] #141 closed, assigned to JMurk

[2015-01-16 15:52] JMurk commented on #135
I'm not sure of what the original design was.  Do you think it should be changed?

[2015-01-16 15:56] JMurk commented on #87
Looks pretty good... A couple things:
1. The headers have no spaces.  Can that be changed?
   ![image](https://cloud.githubusercontent.com/assets/5805454/5779113/213356e0-9d6e-11e4-8cf8-5aa7abc75d7a.png)
2. "Map Legend" should be in a larger font than anything else.
3. Can you change "(Active Legend)" to (Active Layers)"?

[2015-01-16 15:57] JMurk commented on #125
Confirmed complete.

[2015-01-16 15:57] #125 closed, assigned to JMurk

[2015-01-16 18:17] alanfoster99 commented on #135
I think it should, yes

[2015-01-17 00:11] JMurk opened #153 "Utility Viewer - Map Update - Add DPW AVL Layer"
Add the AVL layer with a subset of DPW only vehicles to a group in the WAVIEW, WWVIEW, SWVIEW

[2015-01-21 15:07] JMurk opened #154 "Utility Viewer - Add Water Features - Valve Use"
**Issue:**  The default value for the VALVE_USE field is saved regardless of what the user chooses when adding the valve through the Utility Viewer.  Prod & Dev.

**Resolution:** Please investigate and resolve accordingly.

[2015-01-21 15:12] JMurk opened #155 "Utility Viewer - Add Water Features - Capture Method Autopopulate"
Please update the autopopulate of the CAPTURE_METHOD field to "UV"

[2015-01-21 15:15] JMurk opened #156 "Utility Viewer - Add Water Features - Time"
**Issue:**  For all date/time fields captured in hydrants and valves, the time is off from EST.

**Resolution:**  Probably using GMT so needs to be converted to EST.  Please also remove the time portions for install date and fabrication date as the are not needed (date only).

[2015-01-21 15:17] JMurk opened #157 "Utility Viewer - Add Water Features - Date Inputs"
**Issue:**  The user is currently allowed to still submit a feature if a date field is malformed (letters, special characters, too many slashes, etc.).  When viewed in ArcMap, these features have null values for fields that were entered malformed in the Utility Viewer.  This should not be allowed.
![image](https://cloud.githubusercontent.com/assets/5805454/5838623/bb093c44-a156-11e4-8ecd-1503104e1

[2015-01-21 15:24] JMurk opened #158 "Utility Viewer - Add Water Features - Add Layer Feed"
Please add the "New Features" feed to production as it is in dev (WAView only).

[2015-01-21 15:27] JMurk opened #159 "Utility Viewer - Add Water Features - Security"
Please be sure that this tool ties into the security of the trace functionality.  It should only be visible to users with permissions of "Supervisor" for Main Tracing.

[2015-01-21 16:08] JMurk opened #160 "Utility Viewer - Valves Toolbar - Change Name"
Please change the heading on the "Valves Toolbar" to "Water Tools"

![image](https://cloud.githubusercontent.com/assets/5805454/5839674/c3739738-a15d-11e4-9b24-874a7635cf1f.png)

[2015-01-21 20:45] jday3 commented on #87
Done

[2015-01-22 15:45] jday3 commented on #135
I was able to save a valve status by only populating the POSITION FOUND and CONDITION dropdowns and by leaving the EXERCISED dropdown empty. Is this what you are experiencing?

[2015-01-22 16:09] alanfoster99 commented on #135
Jesse, what you outline seems to be working for me now, too.  Please go ahead and push to prod.

[2015-01-22 17:37] jday3 commented on #160
Done on dev

[2015-01-22 17:37] jday3 commented on #154
Done on dev

[2015-01-22 17:38] jday3 commented on #155
Done on dev

[2015-01-22 17:56] jday3 commented on #155
Scratch that. "UV" needs to be added to the domain. It won't let me add new features when I pass in "UV" for CAPTURE_METHOD

[2015-01-22 18:10] jday3 commented on #157
Done on dev

[2015-01-22 18:16] jday3 commented on #158
Done

[2015-01-22 18:30] jday3 commented on #135
done

[2015-01-22 19:04] JMurk commented on #155
It should be in place in the dev database now.

[2015-01-22 19:51] JMurk commented on #160
Confirmed complete, please push to prod.

[2015-01-22 19:52] JMurk commented on #158
Confirmed complete.

[2015-01-22 19:52] #158 closed, assigned to JMurk

[2015-01-22 19:53] JMurk commented on #157
Confirmed complete, please push to prod.

[2015-01-22 20:03] JMurk commented on #87
Confirmed complete.

[2015-01-22 20:03] #87 closed, assigned to JMurk

[2015-01-22 20:11] JMurk commented on #154
Confirmed complete, please push to prod.

[2015-01-23 13:20] jday3 commented on #156
Can you show me where you are seeing a discrepancy? The values that are being sent to the server are EST as shown below (Added valve at 8:17)
![valve](https://cloud.githubusercontent.com/assets/4439618/5875196/865231d0-a2d8-11e4-9669-65b426d1cf29.PNG)

I removed the time component of install/barication date on both hydrants and valves.

[2015-01-23 13:23] jday3 commented on #155
Done on dev

[2015-01-23 13:24] jday3 commented on #154
now on prod

[2015-01-23 13:25] jday3 commented on #160
done

[2015-01-23 13:28] jday3 commented on #157
Done

[2015-01-23 20:18] JMurk commented on #160
Confirmed complete.

[2015-01-23 20:18] #160 closed, assigned to JMurk

[2015-01-23 20:20] JMurk commented on #157
Confirmed complete.

[2015-01-23 20:20] #157 closed, assigned to JMurk

[2015-01-23 20:38] JMurk commented on #156
This may be just happening on prod and not dev.

[2015-01-26 16:16] JMurk commented on #154
Confirmed complete.

[2015-01-26 16:16] #154 closed, assigned to JMurk

[2015-01-26 16:17] JMurk commented on #155
Appears to have been pushed to prod. as well. Closing.

[2015-01-26 16:17] #155 closed, assigned to JMurk

[2015-02-03 20:28] JMurk commented on #153
I have created a new service called "AVL" on both prod and dev.  Please create a new feed in the Utility Viewer:

-Place above Work Order feeds
-Leave off by Default
-Make available in WAVIEW, WWVIEW, and SWVIEW

[2015-02-20 16:17] kanglu666 commented on #153
layer AVL has been added into both PROD and DEV, please test

[2015-02-20 16:18] kanglu666 commented on #159
add water features functions has been configured with the security of the trace functionality. please test on dev.

[2015-02-25 13:31] DaveThomKCI opened #161 "Utility Viewer - Manhole GIS Locator not functioning"
I believe this used to be one of the layers you could search by attribute using the GIS locator.  I have a user telling me he has always searched that way and now it reads "No Searchable Attribute"

[2015-02-27 15:14] JMurk commented on #161
This is because layer names in the feed have changed.
![image](https://cloud.githubusercontent.com/assets/5805454/6414939/524d87ac-be69-11e4-97a0-2d89511c34b1.png)

see UV for the rest.

[2015-03-03 18:47] jday3 commented on #161
Fixed

[2015-03-03 19:21] JMurk opened #162 "Utility Viewer - WW View - Feature Information/Identify"
**Issues:**  When you switch to WWView, the feature information tab appears in the top left hand corner with nothing populated.

![image](https://cloud.githubusercontent.com/assets/5805454/6470146/8f779c82-c1af-11e4-82f4-44bba77da658.png)

Also, there are no layers set as selectable by default.

[2015-03-03 19:22] JMurk commented on #161
This still does not appear to be working for me.

[2015-03-03 20:03] jday3 commented on #161
Sorry, needed to update the web service as well. Should be working now.

[2015-03-03 21:39] jday3 commented on #162
Fixed. Bug was due to updated layer names not updated in the wwviewconfig file

[2015-03-09 18:14] JMurk commented on #162
Confirmed complete.

[2015-03-09 18:28] JMurk commented on #159
Confirmed complete on dev, please push to prod.

[2015-03-11 19:52] JMurk opened #163 "Utility Viewer - Main Shutdown Plan Type - Customer List"
Please add a shutdown plan type of "Customer List"

[2015-03-12 13:37] jday3 commented on #163
Done on dev and prod

[2015-03-12 14:50] JMurk commented on #161
Confirmed complete.

[2015-03-12 14:50] #161 closed, assigned to JMurk

[2015-03-12 14:53] JMurk commented on #153
Confirmed complete.

[2015-03-12 14:53] #153 closed, assigned to JMurk

[2015-03-12 15:00] JMurk commented on #163
Please add it to the Plan type dropdown when editing existing plans.

![image](https://cloud.githubusercontent.com/assets/5805454/6620404/eb8ea06c-c8a6-11e4-8f6c-2d357102dae3.png)

[2015-03-16 15:26] jday3 commented on #163
Done on dev

[2015-03-16 16:46] JMurk commented on #163
Confirmed complete, please push to prod.

[2015-03-19 14:12] jday3 commented on #163
Done

[2015-03-19 19:42] JMurk commented on #163
Confirmed complete.

[2015-03-19 19:42] #163 closed, assigned to JMurk

[2015-03-27 14:24] JMurk opened #164 "Utility Viewer - Customer List Plan - Expand WO Types"
For the Work Order ID dropdown, please expand the filter to include the following WO types:

![image](https://cloud.githubusercontent.com/assets/5805454/6869539/52eb9664-d46b-11e4-8c42-faf43d8afe51.png)

[2015-03-27 14:31] JMurk opened #165 "Utility Viewer - Active Legend - Broken for WW View"
The changes to the Wastewater service have broken the Active Legend when that feed is turned on.  Please update.

[2015-03-28 22:24] jday3 commented on #164
Done. dev/prod

[2015-03-28 22:43] jday3 commented on #165
The '(' and ')' characters in some of the layer names pose an issue because the legend uses those characters to split up the different services. It works now, but the layers will have the parentheses removed, so "Sewer Manholes (Active)" shows up as "Sewer Manholes Active"

[2015-03-31 13:25] alanfoster99 opened #166 "Utility Viewer - Main Shutdown - Mains stay selected after shutdown saved and closed"
When a main shutdown is saved and closed, the mains used for that analysis are kept active in the main shutdown dialog when another shutdown is run.  Here are steps to replicate:

Search Active Water Mains for WZ12___0148929M and Zoom In on feature
Select this main using Select Mains Tool
Perform Trace Analysis
Save Plan Information as type Scenario
Close Main Shutdown Plan Evaluation window
Clear

[2015-03-31 13:33] alanfoster99 opened #167 "Utility Viewer - Main Shutdown - Affected Meter Count Inaccurate in County"
When a main shutdown in the City is saved and closed, subsequent County main shutdowns (where meters affected is zero) are not updated with the proper value; instead, they retain the City value. Here are steps to replicate:

Search Active Water Mains for WEE18__0037380M and Zoom In on feature
Select this main using Select Mains Tool
Perform Trace Analysis
Number of meters affected is shown as 89 u

[2015-04-03 14:46] jday3 commented on #166
Done on dev/prod. The mains are removed from the perform trace dialog when the user either clears the tracing graphics, or the select mains button.

[2015-04-03 15:43] jday3 commented on #167
Fixed on dev/prod

[2015-04-06 18:22] alanfoster99 commented on #166
This won't work -- user needs to use select mains button during large-area analysis in order to do the following:

Select mains
Choose to select additional mains
Pan the map
User now needs to press button to select mains again, and first selection(s) need to stay active

[2015-04-06 18:23] alanfoster99 commented on #166
Solution:
Please leave the functionality such that when the user clears the tracing graphics the mains are cleared from analysis

[2015-04-06 18:33] jday3 commented on #166
Done on dev/prod

[2015-04-06 19:02] alanfoster99 commented on #166
Confirmed and closing

[2015-04-06 19:02] #166 closed, assigned to alanfoster99

[2015-04-07 17:35] JMurk commented on #165
Confirmed complete.

[2015-04-07 17:35] #165 closed, assigned to JMurk

[2015-04-07 17:36] JMurk commented on #164
Confirmed complete.

[2015-04-07 17:36] #164 closed, assigned to JMurk

[2015-04-07 19:24] JMurk opened #168 "Utility Viewer - Customer List Plan - Fields Missing for Existing Plans"
**Issue:**  When opening an existing plan of type "Customer List," there is no Work Order ID field on the form.

![image](https://cloud.githubusercontent.com/assets/5805454/7031518/272ac43c-dd3a-11e4-8ffa-7f49f7f3946d.png)

**Resolution:** Please add the Work Order ID field to the list.

[2015-05-01 14:15] JMurk opened #169 "Utility Viewer - Find Existing Plan - Created Date Sorting"
Issue:  Sorting on the Created Date column does not sort in the correct order.  It appears that the field maybe storing as a text value?

![image](https://cloud.githubusercontent.com/assets/5805454/7431236/a3366956-efea-11e4-979d-34db22a4c839.png)

Resolution:  Please investigate and resolve accordingly.

[2015-05-01 14:17] JMurk commented on #119
This has been functioning on prod for some time now.  Closing.

[2015-05-01 14:17] #119 closed, assigned to alanfoster99

[2015-05-01 14:23] alanfoster99 commented on #167
Confirmed and closing

[2015-05-01 14:23] #167 closed, assigned to alanfoster99

[2015-05-01 14:31] JMurk commented on #168
I don't see any changes in dev or prod.  Please check.

[2015-05-01 14:31] JMurk commented on #110
This has come up as a request once again.  Bumping up to moderate priority.

[2015-05-01 14:33] JMurk commented on #72
Closing for now.  If this is determined to be required, a new issue will be opened.

[2015-05-01 14:33] #72 closed, assigned to alanfoster99

[2015-05-01 14:34] JMurk commented on #73
The adding new valve and hydrant feature functionality has replaced this need (or worked around it).  Closing this issue.

[2015-05-01 14:34] #73 closed, assigned to BC89

[2015-05-01 14:35] JMurk commented on #74
Have not heard anything on this recently. Closing for now.

[2015-05-01 14:35] #74 closed, assigned to BC89

[2015-05-01 14:42] JMurk commented on #83
I believe this functionality exists within the Activity Manager.  Can we push this to the Utility Viewer?

[2015-05-01 14:43] JMurk commented on #89
Still low priority, but I would like to know the feasibility.

[2015-05-01 14:52] JMurk commented on #134
These controls appear to be on the Main Shutdown Plan Information forms:

![image](https://cloud.githubusercontent.com/assets/5805454/7431793/1f8ef45a-eff0-11e4-8c5c-7f80e8a6f987.png)

[2015-05-01 14:57] alanfoster99 commented on #135
Closing

[2015-05-01 14:57] #135 closed, assigned to alanfoster99

[2015-05-01 15:33] JMurk commented on #156
This is still occurring on prod.  In the example below, I created the point at about 11:15AM.

![image](https://cloud.githubusercontent.com/assets/5805454/7432413/e93e779e-eff5-11e4-8970-4214be9d5912.png)

[2015-05-01 16:13] JMurk opened #170 "Utility Viewer - Create New Plan - Expose All Fields & Allow Multiple Edits"
**Issue:**  When creating a new shutdown plan, a number of fields are not able to be populated.  This should not be the case (should be the same form as an existing plan).

Further, after the initial save, no edits can be made on the plan information window.  The save button becomes grayed out.

![image](https://cloud.githubusercontent.com/assets/5805454/7433006/09e2d53a-effb-11e4-9b7b-013615f2cb0

[2015-05-01 16:17] JMurk opened #171 "Utility Viewer - Plan Information - Add Fields"
It is being requested that we add fields in the Plan Information table for Foreman Name and Foreman Phone.  On the form, these field should go after Contractor Phone but before Inspector Name.

![image](https://cloud.githubusercontent.com/assets/5805454/7433088/e1ffbcd0-effb-11e4-9f64-49b960372911.png)

[2015-05-01 16:55] JMurk commented on #159
Complete on prod.

[2015-05-01 16:55] #159 closed, assigned to kanglu666

[2015-05-11 16:22] JMurk opened #172 "Utility Viewer - Mobile - Remove Emergency Ops Layer"
Please remove the "DPW Emergency Operations" feed from the mobile utility viewer (no longer needed).

![image](https://cloud.githubusercontent.com/assets/5805454/7569663/4214fc8c-f7d8-11e4-98d0-e11eef34d98f.png)

[2015-05-12 13:32] JMurk opened #173 "Utility Viewer - Shutdown Plans - Remove Reversal Plans"
We need to remove the reversal plans from the Utility Viewer. Currently on insert, when the "When to Reverse Operations:" field is populated, a separate but related reversal plan is automatically created.  This along with the reversal plan fields (Is Reverse Plan, Has Reverse Plan) are no longer needed.

![image](https://cloud.githubusercontent.com/assets/5805454/7588235/c2837d9c-f889-11e4-943c-eb

[2015-05-15 15:09] jday3 commented on #170
Done on dev. The one difference between the two forms is that the initial plan info form doesn't have the 'Cancelled' status and the corresponding date/reason fields

[2015-05-15 15:12] jday3 commented on #168
Fixed in dev

[2015-05-15 15:13] jday3 commented on #173
Done on dev

[2015-05-15 15:38] jday3 commented on #171
done on dev

[2015-05-15 15:44] JMurk commented on #170
Confirmed complete, please push to prod.

[2015-05-15 15:59] jday3 commented on #169
Fixed on dev

[2015-05-15 16:01] JMurk commented on #171
Confirmed complete, please push to prod

[2015-05-15 16:04] JMurk commented on #169
Confirmed complete, please push to prod

[2015-05-15 16:08] JMurk commented on #168
That looks good.  I think another issue is if the Plan Type is changed from something to Customer List.  Can we make the field appear then?

[2015-05-15 16:08] JMurk commented on #173
Confirmed complete, please push to prod.

[2015-05-15 16:23] jday3 commented on #170
done

[2015-05-15 16:23] jday3 commented on #169
done

[2015-05-15 16:24] jday3 commented on #171
done

[2015-05-15 16:24] jday3 commented on #173
done

[2015-05-15 16:33] jday3 commented on #168
That is fixed now also, on dev

[2015-05-15 16:43] JMurk opened #174 "Utility Viewer - Find Existing Plan - Result Columns"
The current field displayed in the Find Existing Plan search results (Plan Name, Description, Created Date) are not has useful as they could be.

![image](https://cloud.githubusercontent.com/assets/5805454/7657440/d8456d98-faff-11e4-85c5-619e3203d7ed.png)

I would like to display the following instead:
-Plan Name
-Plan Type
-Status
-Date to be Implemented

We may have to made the window a bit wide

[2015-05-15 16:52] JMurk commented on #171
Confirmed complete.

[2015-05-15 16:52] #171 closed, assigned to JMurk

[2015-05-15 16:54] JMurk commented on #170
Confirmed complete.

[2015-05-15 16:54] #170 closed, assigned to JMurk

[2015-05-15 16:55] JMurk commented on #169
Confirmed complete.

[2015-05-15 16:55] #169 closed, assigned to JMurk

[2015-05-15 17:00] JMurk commented on #173
Confirmed complete.

[2015-05-15 17:00] #173 closed, assigned to JMurk

[2015-05-15 17:06] JMurk commented on #168
Confirmed complete, please push to prod.

[2015-05-15 17:06] jday3 commented on #174
done on dev

[2015-05-15 17:08] JMurk commented on #174
Confirmed complete, please push to prod.

[2015-05-15 17:08] jday3 commented on #168
now on prod

[2015-05-15 17:08] jday3 commented on #174
on prod

[2015-05-15 17:10] JMurk commented on #168
Confirmed complete.

[2015-05-15 17:10] #168 closed, assigned to JMurk

[2015-05-15 17:10] JMurk commented on #174
Confirmed complete.

[2015-05-15 17:10] #174 closed, assigned to JMurk

[2015-05-22 12:10] jday3 commented on #156
Fixed on dev/prod

[2015-05-22 15:05] jday3 commented on #110
@BC89, how do you propose we do this? The draw toolbar only has a listener for onDrawEnd and onDrawComplete

[2015-05-26 15:23] JMurk commented on #156
Still off in prod.

[2015-06-08 14:13] JMurk opened #175 "Utility Viewer - Printing - Stuck on Loading, will not produce print"
**Issue:**  in production, the export to PDF function gets stuck on the export loading and fails to ever produce a report.

![image](https://cloud.githubusercontent.com/assets/5805454/8036603/e3a08cac-0dc6-11e5-8c27-baadbac744df.png)

**Resolution:**  Please investigate and resolve accordingly

[2015-06-08 17:40] jday3 commented on #175
Works for me

![image](https://cloud.githubusercontent.com/assets/4439618/8041105/e8cd4e96-0de3-11e5-9022-846f484e75db.png)

[2015-06-09 17:35] alanfoster99 opened #176 "Utility Viewer - Main Shutdown - Error"
When attempting shutdown trace on WDD25__0168885M or WDD25__0172356M, the analysis fails.  Please examine.
![image](https://cloud.githubusercontent.com/assets/7118831/8065012/936e52e6-0eac-11e5-8742-8c86249a621d.png)

[2015-06-09 18:07] jday3 commented on #156
should be fixed now

[2015-06-09 19:56] gerrykelly commented on #176
This was due to a previously identified problem of valve TAGs with more than 15-characters (due to trailing spaces) getting into the valve status tables from the nightly update from Wach's data.  I added a line in the route to trim the trailing spaces and the trace works.  Please test and close issue if verified.

[2015-06-09 20:04] alanfoster99 commented on #176
Confirmed and closing.  Thanks!

[2015-06-09 20:04] #176 closed, assigned to nobody

[2015-06-15 13:27] JMurk commented on #175
No longer an issue.

[2015-06-15 13:27] #175 closed, assigned to JMurk

[2015-06-15 13:27] JMurk commented on #156
Confirmed complete.

[2015-06-15 13:27] #156 closed, assigned to JMurk

[2015-06-15 14:20] jday3 commented on #110
Done on dev

[2015-06-15 14:25] JMurk commented on #110
Confirmed complete on dev, please push to production.

[2015-06-15 19:26] jday3 commented on #110
done

[2015-06-16 18:08] jday3 commented on #83
Done on dev

[2015-06-16 18:35] jday3 commented on #134
The date time picker is a custom component and would require a pretty decent sized effort to make the format change. I'm not sure that it is worth it

[2015-06-17 13:21] jday3 commented on #172
done on prod

[2015-06-18 12:21] JMurk commented on #83
It looks like this is not including layers from the BaseMap.  Could you make sure that those are inclued.

It also appears that this was pushed to prod because the "Feature Information" window is not available there.

[2015-06-18 14:57] JMurk commented on #83
Looks good in prod, can you make the changes in dev as well?

[2015-06-18 15:07] JMurk commented on #172
Confirmed complete.

[2015-06-18 15:07] #172 closed, assigned to JMurk

[2015-06-18 15:09] JMurk commented on #134
ok, we will keep this as-is

[2015-06-18 15:09] #134 closed, assigned to JMurk

[2015-06-18 15:10] JMurk commented on #110
Confirmed complete.

[2015-06-18 15:10] #110 closed, assigned to JMurk

[2015-06-18 16:06] jday3 commented on #83
yup, its in dev now

[2015-06-18 19:47] JMurk commented on #83
Confirmed complete.

[2015-06-18 19:47] #83 closed, assigned to JMurk

[2015-06-23 15:33] JMurk opened #177 "Utility Viewer - Valve Status Update - Start as Blank Form"
Users have requested that for a Valve Status update, the form should begin as completely blank.  Users will need to populate the following required fields:

-Position Found
-Position Left
-Turn Positions Change (Auto-Populate Date)
-Condition (Auto-Populate Date)
-Exercised (Auto-Populate Date)
-Turns Exercised

Make sure all date fields are auto-populated when their corresponding features are pop

[2015-06-23 15:36] JMurk opened #178 "Utility Viewer - Valve Status - Use Report"
Stakeholders have requested a report that will summarize all the valve status updates over the past 24 hours (or input date range).  This will help ensure users are using the tools and updating the status properly.

I see a number of approaches we could take here.  Lets discuss those and decide which is best for this report.

[2015-06-23 19:32] jday3 commented on #177
Done on dev.

[2015-06-23 20:25] jday3 commented on #177
These updates have also been made to the mobile valve status application

[2015-06-24 15:33] JMurk commented on #177
Looks good, please push to production.

[2015-06-24 15:39] jday3 commented on #177
done

[2015-06-25 15:35] jday3 commented on #123
I've added the photo functionality, but adding other documents will take a decent effort. Currently there is only a Photos table in the Discrepancies database. If you think it is worth it to include uploads other than photos, let me know

[2015-06-25 15:35] jday3 commented on #123
on dev, btw

[2015-07-02 14:53] DaveThomKCI opened #179 "Legend seems messed up for WWView/Consent Decree"
In the Consent Decree category, there seems to be legend symbols for nothing at all (no folders are expanded and still symbology is shown.
![image](https://cloud.githubusercontent.com/assets/7398247/8479848/55428042-20a8-11e5-8f73-21c0a84da38b.png)

Then, if you expand the design project consultant areas layer, it shows symbology that does not match a. what it should be, b. what shows up on the ma

[2015-07-02 15:03] JMurk commented on #179
This is because some of the data links are broken.  Marian may have moved some data around.  Can you track down the correct data sources for the following layers:

![image](https://cloud.githubusercontent.com/assets/5805454/8480116/f7e3f938-20a9-11e5-935e-089b6f469173.png)

[2015-07-02 15:33] DaveThomKCI commented on #179
I actually just ran across this data yesterday... These are tables though - not sure if thats how there were in there before or not...

Instance: dpw-sql-srv
Database: uview
Tables: UVIEW.UVIEW.P8_Manholes, UVIEW.UVIEW.P8_Sewer, UVIEW.UVIEW.SmokeTestedSewer

[2015-07-09 19:42] JMurk commented on #179
This has been fixed.

[2015-07-09 19:42] #179 closed, assigned to nobody

[2015-07-10 19:46] JMurk opened #180 "Utility Viewer - Results Window Scroll Bar Issue (IE)"
When selecting a large amount of items for identification, the scroll bar does not properly size for the results, and the scroll wheel must be used to access all values.  This is visible in IE.

![image](https://cloud.githubusercontent.com/assets/7118831/8549815/d966a57e-249a-11e5-8521-cb91714f5a53.png)

[2015-07-10 19:54] JMurk commented on #177
Confirmed complete.

[2015-07-10 19:54] #177 closed, assigned to JMurk

[2015-07-14 19:50] JMurk commented on #123
Confirmed complete, please push to prod.  I think the next step on this is possibly allowing users to view the associated photos in the Utility Viewer.

[2015-08-17 13:20] JMurk opened #181 "Utility Viewer - Scenario Plans - Removed Required Date Fields"
When the Plan Type = "Scenario"
![image](https://cloud.githubusercontent.com/assets/5805454/9305671/2bf7faf4-44c1-11e5-9202-60c93d89664d.png)

Please remove the requirement for all date fields (all pictured below).  Also be sure that this change is made in the mobile app as well.

![image](https://cloud.githubusercontent.com/assets/5805454/9305658/107d1c00-44c1-11e5-9f23-d5c5c8812a96.png)

[2015-09-08 19:42] jday3 commented on #181
Done on dev/prod

[2015-09-09 11:50] jday3 commented on #178
One option would be to add a button to the water tools toolbar that would open a window prompting for the date range. Then a button would open a new tab with the typical report viewer control.

[2015-09-09 11:59] jday3 commented on #180
Do you know what version of IE? I was unable to replicate this in IE 7 or 10

[2015-09-09 12:10] jday3 commented on #123
Pushed to production

[2015-09-09 12:34] jday3 commented on #123
For viewing associated photos I would think we would have a window that displays the discrepancy information and the list of photos and clicking on a photo would open the picture. Maybe we put a button on the toolbar next to the add discrepancy button that allows the user to identify discrepancies or instead offer an option in the regular results display.

[2015-09-09 15:44] jday3 commented on #102
Done on dev/prod. Previously the report wasn't in the production environment but I pushed it down there as well.

[2015-09-10 15:14] JMurk commented on #181
Confirmed complete in dev/prod desktop & mobile

[2015-09-10 15:14] #181 closed, assigned to JMurk

[2015-09-10 15:24] JMurk commented on #123
Could we potentially add this to the attached documents window?

![image](https://cloud.githubusercontent.com/assets/5805454/9792516/7fade4b0-57ae-11e5-9078-1d6c1527c6f0.png)

[2015-09-10 15:29] JMurk commented on #102
Confirmed complete on dev and prod.

[2015-09-10 15:29] #102 closed, assigned to JMurk

[2015-09-10 15:34] JMurk commented on #178
I haven't heard any feedback on this recently, so we will keep this on the back burner for now.

[2015-09-11 14:46] alanfoster99 commented on #180
Turns out this only occurs when the display is zoomed in; not sure if bug or IE issue

[2015-09-15 19:17] JMurk opened #182 "Utility Viewer - Add New Valve - Typo"
**Issue:**  Typo in error message:

![image](https://cloud.githubusercontent.com/assets/5805454/9887279/c9491362-5bbc-11e5-85da-bee7de75a485.png)

should be "a new"

[2015-10-06 15:08] alanfoster99 opened #183 "Utility Viewer - Field formatting"
When inputting the Charge No.  for the AMI project, the field in Utility Viewer is converting the number and it does not allow for hyphens. In addition, It does not allow for hyphens in the Contractor Phone, Foreman Phone, or Inspector Phone fields either.

Please allow for hyphens, and do not convert the charge number to scientific notation.

![image](https://cloud.githubusercontent.com/assets/71

[2015-10-12 18:00] alanfoster99 opened #184 "Utility Viewer - GIS Locator returning inactive features"
Please check the Locator, as it is returning IDs for features that are not active.  For example, a search for hydrants starting with 02289\* returns 022896, which has a status of removed.

![capture](https://cloud.githubusercontent.com/assets/7118831/10434773/8817ffc4-70e9-11e5-83b1-1cd6a12f84bb.JPG)

[2015-10-14 20:07] DaveThomKCI opened #185 "Under construction water mains - not showing up dashed"
Should these be dashed too?  Or at least something different than the active mains?

Charles Adcock was having trouble running main trace tool... Turns out he was selecting under construction mains - he was not aware because they are symbolized the same way.

[2015-10-15 13:41] JMurk commented on #185
Should these mains be under "Proposed Water Mains" or in their own layer.  Please advise.

[2015-10-15 18:56] DaveThomKCI commented on #185
As long as the symbology is not getting out of control, it should be a separate layer.  Maybe same pattern as the proposed, only brown in color?

[2015-10-16 14:26] JMurk commented on #185
This has been updated in dev and prod.

[2015-10-21 15:10] alanfoster99 opened #186 "Utility Viewer - Main Shutdown - New types"
Please add type for "Open Valves Only"; this will occur when no previous shutdown exists, but a main needs to be brought up.

[2015-10-29 15:56] JMurk opened #187 "Utility Viewer - Shutdown Plan - Remap Work Order ID Field"
As a result of the Cityworks migration, the Work Order ID field needs to be remapped to the new database.

![image](https://cloud.githubusercontent.com/assets/5805454/10823880/1b0b3970-7e34-11e5-97b1-bdca8f810b01.png)

[2015-11-05 14:13] jday3 commented on #142
This should be working now

[2015-11-05 14:33] JMurk commented on #142
Confirmed complete.

[2015-11-05 14:33] #142 closed, assigned to JMurk

[2015-11-05 20:56] #185 closed, assigned to DaveThomKCI

[2015-11-25 19:21] jday3 commented on #187
done on dev

[2015-11-27 17:55] JMurk commented on #187
Confirmed complete in dev, can be pushed to prod.  Please check the Customer List report.  I created a scenario in dev that should be included in the Customer List report, but the download is blank.

[2015-12-07 19:56] DaveThomKCI opened #188 "Utility Viewer - Export larger than 11X17 seems to be failing"
Export tried on machine A with Chrome, machine B with Chrome and Firefox, and machine C with chrome.  All failed to result in a PDF.

[2015-12-08 17:08] JMurk commented on #188
I have confirmed this issue. The load bar just continuously spins and never produces and output.  Please investigate and resolve accordingly.

[2015-12-15 19:13] JMurk opened #189 "Utility Viewer - GIS Locator - Not Working for Wastewater Features"
**Issue:** The GIS locator tool is not working for Wastewater features.  This is occurring in both test and production environments.

![image](https://cloud.githubusercontent.com/assets/5805454/11821110/fb8c3960-a335-11e5-937f-3a549a1e050d.png)

**Resolution:**  Please investigate and resolve accordingly.

[2015-12-17 16:36] jday3 commented on #189
The database that is being queried is 169.156.54.44/CityWorks

I checked and the database is offline. Should it be using another database after the migration?

[2015-12-17 17:19] JMurk commented on #189
Wow, that is a really old database.  It should be wastewater or publish (either would work) on dpw-sql-srv.

[2015-12-18 13:39] jday3 commented on #189
alright it is pointing to wastewater now

[2015-12-18 14:14] JMurk commented on #189
Confirmed complete.

[2015-12-18 14:14] #189 closed, assigned to JMurk

[2015-12-31 20:02] JMurk opened #190 "Utility Viewer - Work Order Layers - Expand to Other Views"
**Issue:**  Currently there are 4 Work Order feeds in the Utility Viewer (Surface Repair, Storm, Water, Sewer) and they are made available only in their corresponding view (WAView, WWView, ect).

**Resolution:** Stakeholders are requesting that they all be made available in the following views:
<li>WAView</li>
<li>WWView</li>
<li>SWView</li>

[2016-01-05 15:00] JMurk opened #191 "Utility Viewer Mobile - Add Work Order Feeds"
Please add the four Work Order map services/feeds to the mobile Utility Viewer.  They should be off by default and are as follows:

-Surface Repair Work Orders
-Water Work Orders
-Sewer Work Orders
-Storm Work Orders

[2016-01-12 14:17] JMurk opened #192 "Utility Viewer - New Identify Functionality"
In the development Utility Viewer we have added a tool to the utilities toolbar for “identify settings.”  This brings up the old layer selection box where users can choose what is selectable.  AS before, default selectable layers are set for each view.  Further, the identify tool is defaulted to select all visible features until the user selects otherwise in the settings.

This needs to be pushed

[2016-01-14 16:12] DaveThomKCI opened #193 "Utility Viewer - Another Change to Identify Tool"
As per Wastewater meeting on 11/14/16, Amy asked that the identify tool that IDs all visible features NOT identify basemap features.  If a user really needed to ID a basemap feature, they would have to use the newly added "old" identify tool - where the user can select the layer to identify.

[2016-01-21 19:02] JMurk commented on #188
FYI, here are some errors that I found:

![image](https://cloud.githubusercontent.com/assets/5805454/12491172/8c309f14-c047-11e5-8207-344cfaab5e89.png)

[2016-01-26 17:58] kanglu666 commented on #188
after check the python code: all templates should still go to the original WEB_DATA\Layouts folder. not the new one i mentioned earlier. because the script will point to the right location (web_data\layouts)

the error is the time_out. some larger PDFs will take more 10 minutes to get the results. the Export PDF GP service was set to time out in 10 mins.

Issue fixed by :  IIS set time out 20mins,

[2016-02-12 17:15] DaveThomKCI opened #194 "Utility Viewer - Find Existing Plans, Implement date wrong for user..."
Sewelo Keleagetse and Chad Fuhrman (both with Wachs) both encounter an error when searching for existing shutdown plans.  When they pull up the window, and search for plans created by Charles.Adcock, all of the dates for Date To Be Implemented show up 12/31/1969.  Charles had the same thing pulled up on his machine and the dates showed corrected.

Sewelo was using a non-city machine and logged in

[2016-02-19 21:00] JMurk commented on #162
This has happened again.  Updates were made to the Base Map service.  Please update ASAP.

[2016-03-02 16:23] JMurk commented on #184
The list includes the values, but does not zoom to the location since the feature is not actually displayed on the map/included in the map service layer.

[2016-03-02 16:27] JMurk commented on #183
Joe to check database for data types... should be text.

[2016-03-02 16:30] JMurk commented on #162
Bug is only occurring in the production environment.

[2016-03-09 21:19] taojun545 commented on #182
Updated on dev.

[2016-03-10 21:44] taojun545 commented on #162
Fixed on prod. Updated three config xml files:
wwviewconfig.xml
uviewconfig.xml
swviewconfig.xml

[2016-03-11 14:25] JMurk commented on #162
Looks good. Confirmed complete.

[2016-03-11 14:25] #162 closed, assigned to JMurk

[2016-03-11 19:33] taojun545 commented on #183
Change following fields from "NumberField" to "TextField":
Charge No., Contractor Phone, Foreman Phone, Inspector Phone

Joe need to check the database to see the data types of those fields.

[2016-03-11 19:33] taojun545 commented on #183
Updated on dev.

[2016-03-11 19:37] taojun545 commented on #186
Added new Plan Type into the forms on dev.

[2016-03-14 20:25] taojun545 commented on #123
Updated on dev.
1. Allow user to click button and open attached documents window for all kinds of Discrepancies.
2. Add new grid "Discrepancy Photos" into window, and load the associated photos. User can click thumbnail to see full image.

[2016-03-15 11:49] JMurk commented on #123
That looks good... A couple things:
- Is it possible to make each section collapsible? If so, please do so and set them to be collapsed when no data exists within the section.
- The CCTV Videos panel can be shorter, about half the size that it is now.
- Can you hide the CCTV Videos panel until the tool is selected for specific features?  If so, those features would be Active Sewer Mains, Force Mai

[2016-03-15 11:58] JMurk commented on #182
Confirmed complete, please push to production

[2016-03-15 12:11] JMurk commented on #183
Confirmed complete, ready for prod.  All of the mentioned fields are varchar in both dev and prod.

[2016-03-15 12:16] JMurk commented on #186
Confirmed complete, please push to production.

[2016-03-15 12:20] JMurk commented on #180
Closing for now as it appears this was just a browser-specific issue.

[2016-03-15 12:20] #180 closed, assigned to jday3

[2016-03-15 13:25] JMurk commented on #194
I have duplicated this error in IE anf Firefox.  Chrome seems to work OK.

![image](https://cloud.githubusercontent.com/assets/5805454/13778992/37f338f4-ea8f-11e5-88ce-48fc9c415d5b.png)

Dave- Have Wachs use Chrome as a temporary work-around for now.

Jun-  Please investigate why the date to be implemented is not reading the correct dates in those browsers.

This bug is in both dev and prod enviro

[2016-03-15 13:51] taojun545 commented on #123
I think show/hide will be a good idea. I updated followings on dev:
- "Discrepancy Photos" section will be shown only when selected a discrepancy.
- "CCTV Videos" section will be shown only when selected is "Active Sewer Mains" or "Lateral Address Points".
- "OnBase Documents" section will be shown only when selected has "DOCPOPURL" property.

For your questions,
1. Since we already have show/hide

[2016-03-15 14:18] taojun545 commented on #194
The date-parsing algorithms are different in those browsers. For example, the data string is "2014-07-17 00:00:00". When converting it into data object using: new Date("2014-07-17 00:00:00"), different browsers show below:
- Chrome: Thu Jul 17 2014 00:00:00 GMT-0400 (Eastern Daylight Time)
- Firefox: Date {Invalid Date}
- IE: [date] Invalid Date

I will fix it asap.

[2016-03-15 15:09] taojun545 commented on #194
Fixed the issue on dev. Pls check all three browsers.

[2016-03-15 17:55] taojun545 commented on #184
Fixed on dev.
When searching hydrants, it will return all active results with FEAT_STATUS='ACT'. (Such as "02392%", 023922-R and 023929 will not be shown)

For other layers, it may have same issue. We need to check what is the status column in each table.

[2016-03-15 18:47] taojun545 commented on #182
Updated on prod.

[2016-03-15 19:02] taojun545 commented on #183
Updated on prod.

[2016-03-15 19:22] taojun545 commented on #186
Updated on prod.

[2016-03-16 12:51] JMurk commented on #123
1. Nope, the show hide function works.
2. Yes please.  The records never take up more than half of the space. So please decrease.
3. No, let's just leave it with those two for now.

A couple other things:
- Can the size of the window be dynamic to what is shown? Basically, remove all the blank space.
  ![image](https://cloud.githubusercontent.com/assets/5805454/13812667/e051587c-eb53-11e5-8da5-398

[2016-03-16 13:41] JMurk commented on #182
Confirmed complete.

[2016-03-16 13:41] #182 closed, assigned to JMurk

[2016-03-16 13:43] JMurk commented on #186
Confirmed complete

[2016-03-16 13:43] #186 closed, assigned to JMurk

[2016-03-16 13:47] JMurk commented on #183
Confirmed complete.

[2016-03-16 13:47] #183 closed, assigned to JMurk

[2016-03-16 14:12] JMurk commented on #184
We need to query for this list through the map service rather than the database directly in order to include the definition queries that are specific to each layer.

[2016-03-16 15:15] JMurk commented on #194
it is working in Chrome and IE now, but still not in Firefox.

[2016-03-16 15:16] JMurk commented on #194
Confirmed complete on all three, please push to production.

[2016-03-16 15:55] taojun545 commented on #123
Updated on dev.

[2016-03-16 17:28] JMurk commented on #123
Confirmed complete on dev.  Please push to prod.

[2016-03-16 19:16] taojun545 commented on #190
Updated on dev.

[2016-03-16 19:42] taojun545 commented on #191
Updated on dev.

[2016-03-17 12:13] JMurk commented on #191
Confirmed complete, please push to prod.

[2016-03-17 12:20] JMurk commented on #190
Confirmed complete, please push to prod.

[2016-03-17 13:09] taojun545 commented on #193
Updated on dev.

[2016-03-17 15:29] JMurk commented on #193
Confirmed complete, please push to prod.

[2016-03-18 19:00] taojun545 commented on #123
Updated on prod.

[2016-03-18 19:07] taojun545 commented on #187
Updated on prod.

[2016-03-18 19:09] taojun545 commented on #190
Updated on prod.

[2016-03-18 19:14] taojun545 commented on #191
Updated on prod.

[2016-03-18 19:23] taojun545 commented on #193
Updated on prod.

[2016-03-18 19:25] taojun545 commented on #192
Updated on prod.

[2016-03-18 19:28] taojun545 commented on #184
Updated on prod, but it only fixed Hydrants search.

I will re-do the GIS Locator function to directly query MapService instead of Database.

[2016-03-18 19:32] taojun545 commented on #194
Update on prod.

[2016-03-18 19:41] JMurk commented on #194
Confirmed complete in all.

[2016-03-18 19:41] #194 closed, assigned to JMurk

[2016-03-18 19:44] JMurk commented on #193
Confirmed complete.

[2016-03-18 19:44] JMurk commented on #192
Confirmed complete.

[2016-03-18 19:44] #192 closed, assigned to JMurk

[2016-03-18 19:44] JMurk commented on #190
Confirmed complete.

[2016-03-18 19:44] #190 closed, assigned to JMurk

[2016-03-18 19:45] JMurk commented on #191
Confirmed complete.

[2016-03-18 19:45] #191 closed, assigned to JMurk

[2016-03-18 19:49] JMurk commented on #187
Confirmed complete.

[2016-03-18 19:49] #187 closed, assigned to JMurk

[2016-03-18 19:54] JMurk commented on #123
Confirmed complete.

[2016-03-18 19:54] #123 closed, assigned to JMurk

[2016-03-21 17:05] alanfoster99 opened #195 "Search not functional on Sewer Mains"
GIS Feature search is not autopopulating the dropdown, not returning any results.

![image](https://cloud.githubusercontent.com/assets/7118831/13927073/8233bf4e-ef65-11e5-9cd6-b7ddf0c7ff3e.png)

[2016-03-21 18:02] JMurk commented on #195
Appears to be occuring for Wastewater features.

[2016-03-21 18:47] taojun545 commented on #195
There are many locator queries still using wrong databases, and I will update the setting asap.

[2016-03-21 19:36] taojun545 commented on #195
Updated "locatorsewerRDBMS" (WasteWater)  and  "locatorstormRDBMS" (sw) on dev.

[2016-03-21 19:44] alanfoster99 commented on #195
Looks good, thanks.  Please push to Prod.

[2016-03-21 19:44] #195 closed, assigned to JMurk

[2016-03-21 20:04] taojun545 commented on #195
Updated on Prod.

Joe, there are many differences on "WasteWater" between dev and prod. You may need to sync.

[2016-03-22 16:57] taojun545 commented on #184
New GIS Locator function updated on dev.

The new GIS Locator will query MapServer instead of database. It will always return active features from MapServer. If any query need to be changed, the only file need to be updated is "GisLocatorConfig/LocatorConfig.xml".

[2016-03-23 13:46] JMurk commented on #184
Please update for CSR layers.

[2016-03-28 14:43] alanfoster99 opened #196 "Utility Viewer - Symbology"
Please add a "D" to the middle of the symbol for division valve.  Bob Suri uses this information frequently, but is color blind and cannot differentiate the red color.

[2016-04-01 14:36] JMurk commented on #196
Updated on dev.  Please have Bob verify the contrast is suitable before push to production:

![image](https://cloud.githubusercontent.com/assets/5805454/14210119/928ac660-f7f5-11e5-808a-381980f20aef.png)

[2016-04-01 16:06] JMurk commented on #193
Can you please update this to include "City Street Centerline" from the BaseMap service?

[2016-04-01 16:13] alanfoster99 commented on #196
Verified and ready to go.  Please push to prod.

[2016-04-01 17:29] JMurk commented on #196
Done in prod.

[2016-04-01 18:06] alanfoster99 commented on #196
Confirmed and closing.

[2016-04-01 18:06] #196 closed, assigned to alanfoster99

[2016-04-04 13:32] JMurk commented on #184
I have updated the map services for CSRs in both dev and prod to include the SRX and SRY fields.

[2016-04-04 17:34] taojun545 commented on #184
Update on dev.

The "GisLocatorConfig/LocatorConfig.xml" may need double check, I found one issue for:
    <layer>
      <servicename>Leaks</servicename>
      <layername>Historical Leaks</layername>
      <fieldname>Leak ID</fieldname>
      <searchname>Leak_Object_ID</searchname>
    </layer>

Most of the Leak Layers have "Leak_Object_ID", but "Historical Leaks" doesn't. We need to change.

[2016-04-04 17:54] alanfoster99 commented on #184
The Leak_Object_ID is generated automatically, and is used as a unique identifier.  I'm not sure we need to add it to "Historical Leaks" as they will never be changed.

[2016-04-04 18:03] JMurk commented on #184
For Historical Leaks, use Leak_Name

[2016-04-04 19:01] JMurk commented on #184
Looks good on dev, ready for push to prod.

[2016-04-04 19:59] taojun545 commented on #184
Updated on prod.

[2016-04-07 12:22] JMurk opened #197 "Utility Viewer - Address Geocoder - Not Zooming (Dev Only)"
**Issue:**  In the dev version of the Utility Viewer, the Address Geocoder will return results of a search, but will not zoom to any of the selected results in the map.

**Reproduce**:
- Expand the Geocoder panel
- Enter "2331 n fulton ave" in the address box
- Click the magnifying glass button
- Select the result from the grid below
- Click the lighting bolt button to zoom

[2016-04-07 12:54] taojun545 commented on #197
Fixed on dev.

The issue is dev still using DPW-GIS102-SRV 169.156.64.146 (DECOMMISSIONED).

[2016-04-07 13:52] JMurk commented on #197
Confirmed complete.

[2016-04-07 13:52] #197 closed, assigned to JMurk

[2016-04-13 12:04] JMurk commented on #184
Confirmed complete.

[2016-04-13 12:04] #184 closed, assigned to JMurk

[2016-04-13 16:50] taojun545 commented on #193
@JMurk "City Street Centerline" doesn't exist in dev BaseMap service, could you update it?

[2016-04-14 13:33] taojun545 commented on #193
Updated in both dev and prod. But we need update the BaseMap in dev to include "City Street Centerline"

[2016-04-14 19:14] alanfoster99 opened #198 "Utility Viewer - Galaxy Note - Compatibility test"
The City has recently made the move to Galaxy Note as the tablet; as such, some new issues are becoming apparent:

After logging into the DPW Application Portal and into any of the mobile applications an error message appears on the screen.  The error message reads “The device you are using does not support the use of this application.  You may experience unwanted functionality if you continue”.

[2016-04-14 19:16] alanfoster99 opened #199 "Utility Viewer - Galaxy Note - Geocoder"
The “locate” feature at the bottom of the screen does not work properly on the new Galaxy tablets.  It allows you to search for a specific address and finds it, but when you try to switch back to map view to see the address the map no longer appears.

Please correct the functionality so that the map view persists.

[2016-04-14 20:29] taojun545 commented on #198
I checked the code in the mobile applications, and the alert message will be shown when device type is "Phone". So Galaxy Note, iPhone and all other phones will show that message.

I talked with Brendan, and in the short term, we can disable that message, but we need to do more testing on different devices with different OS in future.

[2016-04-15 13:11] alanfoster99 commented on #198
My apologies -- the device is actually a Galaxy Tab E

[2016-04-15 13:30] taojun545 commented on #198
If the device is tablet, the message should not be shown. I tested it on Samsung Galaxy Tab 4, and the message didn't pop up. Could you confirm what kind of device has that message pop-up?

[2016-04-15 13:31] alanfoster99 commented on #198
That was the model supplied to us this morning from the City distribution

[2016-04-15 13:34] taojun545 commented on #198
Thanks for your information. So when you opened Utility Viewer Mobile Application, the new device pop-up the message? http://dpwview.baltimorecity.gov/water/portal/index.aspx

[2016-04-15 13:36] alanfoster99 commented on #198
That is correct

[2016-04-15 13:38] taojun545 commented on #198
Thank you for your confirmation. OK,  I will disable the message for all the mobile applications.

[2016-04-15 19:54] taojun545 commented on #199
I fixed the issue on dev. Also I disabled the alert message which only applies to phone.

[2016-04-15 19:54] taojun545 commented on #199
The fix is only for Utility Viewer Mobile.

[2016-04-18 18:37] taojun545 commented on #198
I have disabled pop-up alert message for all the mobile applications on dev. The apps are below;
- Utility Viewer (Mobile)
- SSO
- Leak
- PST
- Valve and Hydrant Status

[2016-05-10 12:25] JMurk commented on #193
The dev map service has been updated to include the City and County Street Centerline layers.

[2016-05-10 12:28] #193 closed, assigned to taojun545

[2016-05-10 15:03] JMurk commented on #88
test for gerry

[2016-05-17 19:20] alanfoster99 commented on #199
Unable to test -- will update when device is available.

[2016-05-17 19:20] alanfoster99 commented on #198
Unable to test -- will update when device is available.

[2016-05-19 19:34] taojun545 commented on #199
As Stephen requested, I have pushed the fixes into production for both “Utility Viewer (Mobile)” and “Water Valve Status”. And he confirmed the fixes.

[2016-05-24 14:37] alanfoster99 commented on #199
Thanks!

[2016-05-24 14:37] #199 closed, assigned to alanfoster99

[2016-08-16 14:50] alanfoster99 commented on #198
Closing

[2016-08-16 14:50] #198 closed, assigned to alanfoster99